.path-mod h2 img.icon {
    margin-top: 0;
    margin-bottom: .5rem;
    filter: grayscale(100%);
    width: 24px;
    height: 24px;
}

#page-login-index {
    .form {
        .input-group-password .input-group-text {
            padding: .375rem .875rem;
        }
    }
    .navbar-receptic {
        height: 50px;
    }
    .rememberpass label {
        font-weight: normal;
    }
}

.card.welcome-panel {
    background-color: $body-bg;
    border-color: $gray-200;
}

.atto_generico_buttons button {
    @extend .btn-default;
}

.atto_form button {
    margin-top: .5rem;
}

#id_introeditor_ {
    margin-top: .5rem;
}

select.atto_generico_field {
    /*@extend .custom-select;*/
    margin-left: .5rem;
}


.highlight {
    color: $success !important; /* stylelint-disable-line declaration-no-important */
}

.togglevisibility {
    padding: 0 0 .2rem .5rem;
}

.flashbox {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border-radius: 0;
    padding: .75rem 1rem;
    &.warning {
        border: 5px solid $danger;
        font-weight: normal;
    }
    &.trick {
        border: 5px solid #ffd700;
    }
    &.info {
        border: 5px solid $primary;
    }
    div.flashboxicon i {
        font-family: FontAwesome;
        font-size: xx-large;
    }
    div.flashboxhide a {
        float: right;
        font-weight: bold;
    }
}

#theme-receptic-course-settings-card,
#theme-receptic-activity-settings-card {
    /* Initially do not display the settings. Visibility will be changed on click with incoursesettings.js. */
    display: none;
    padding-top: 0;
    margin-bottom: 1rem;
    margin-top: 0;
    border: none;
    > div {
        border: 1px solid $gray-300;
        .nav-link {
            padding: 1rem;
        }
    }
}

body.editing.path-grade-report-grader [data-region="blocks-column"],
body.editing.path-grade-report-grader #blocks-column-toggle {
    display: none !important; /* stylelint-disable-line declaration-no-important */
}

body.ltibridge {
    header {
        display: none !important; /* stylelint-disable-line declaration-no-important */
    }
    #page-wrapper > nav {
        display: none;
    }
    margin: 0 !important; /* stylelint-disable-line declaration-no-important */
    #page.container-fluid {
        margin-top: 0;
        padding: 0;
        background-color: $white;
    }
    #region-main {
        padding-bottom: 0;
        margin-bottom: 0 !important; /* stylelint-disable-line declaration-no-important */
    }
    #nav-drawer,
    &.shrinkablenavdrawer #nav-drawer.closed {
        display: none;
    }
    footer {
        display: none;
    }
    #completionprogressid {
        display: none;
    }
    .collapsible-actions {
        .expandall,
        .collapseall {
            display: none;
        }
    }
    #blocks-column,
    #blocks-column-toggle {
        display: none !important; /* stylelint-disable-line declaration-no-important */
        &:before {
            display: none;
        }
    }

}