@import "fontawesome/font-awesome";

/*body.pagelayout-login {
    background-image: url([[pix:theme_receptic|loginbackgroundimage]]);
    background-size: cover;
}*/

.brand-banner {
    /*background: linear-gradient(to bottom, #ECF0F1 0%,#ECF0F1 30%,#3c8e3a 31%,#69be28 95%);*/
    background: linear-gradient(to bottom, #ECF0F1 0%,#ECF0F1 30%,darken($link-hover-color,5%) 31%,$link-hover-color 95%);
    height: 80px;
}


.navbar-sm-logo {
    background-image: url([[pix:theme_receptic|loginbackgroundimage]]);
    background-size: cover;
    width: 34px;
    height: 34px;
    background-color: transparent;
}

.brand-banner img {
    height: 55px;
}

.left-logo {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 55px;
    box-shadow: 4px 4px 15px #616365;
}

.right-logo {
    position: absolute;
    top: 10px;
    right: 15px;
    height: 55px;
    box-shadow: 4px 4px 15px #616365;
}

@media (min-width: 768px) {
    .pos-f-t-lower {
        top: 80px;
    }
}

@media (min-width: 768px) {
    #page {
        margin-top: 130px;
    }
}

@media (min-width: 768px) {
    [data-region="drawer"] {
        top: 130px;
        height: calc(100% - 130px);
    }
}

body.noblocks [data-region="blocks-column"] {
    display: none;
}

body.noblocks #region-main-settings-menu.has-blocks, body.noblocks #region-main.has-blocks {
    width: 100%;
}

.sbl {
    display: none;
}

.noblocks .sbl {
    display: inline;
}

.noblocks .hbl {
    display: none;
}

@media (min-width: 768px) {
    .navbar-nav > li > a.switch {
        padding-bottom: 0;
    }
}

.switch:after {
    font-family: FontAwesome;
    content: "\f044";
    font-size: 1.2rem;
}

body.editing .switch:after {
    color: #55ab26;
    //content: "ON";
}

.extra-buttons {
    margin-left: 25px;
    margin-right: 25px;
}

.extra-buttons a:hover {
    text-decoration: none;
}

#page-content > a {
    position: absolute;
    right: 5px;
    padding-top: 1rem;
}

.notifytiny {
    margin-top: 150px;
}

#back-to-top {
    position: fixed;
    bottom: 32px;
    right: 40px;
    text-align: center;
    cursor: pointer;
    opacity: .5;
    filter:alpha(opacity=50);
    display:none;
}
#back-to-top a.arrow {
    padding: 5px 10px;
    font-size: 36px;
    color: #333;
    background: #EEE;
    border: 1px solid #CCC;
    border-bottom: 1px solid #AAA;
    border-radius: 5px;
}
#back-to-top a.text {
    display: block;
    background: white;
    visibility: hidden;
    position: relative;
    top: 10px;
}
#back-to-top a {
    text-decoration: none;
    border: 0;
    outline: none;
}

.block-control-actions {
    padding-right: 0.5rem;
    img {
        height: 1rem;
    }
}


// Main calendar restyling.
.path-calendar {
    .cal_courses_flt {
        label {
            font-weight: bold;
        }
    }
    .calendartable {
        width: 100%;

        th,
        td {
            width: 14%;
            vertical-align: top;
            text-align: center;
            border: 0;
        }
    }

    .calendar-controls {
        .previous,
        .next,
        .current {
            display: block;
            float: left;
            width: 12%;
        }

        .previous {
            text-align: left;
        }

        .current {
            text-align: center;
            width: 76%;
        }

        .next {
            text-align: right;
        }
    }

    .filters {
        table {
            border-collapse: separate;
            border-spacing: 2px;
            width: 100%;
        }
    }

    .maincalendar {
        vertical-align: top;
        padding: 0;

        .bottom {
            text-align: center;
            padding: 5px 0 0 0;
        }

        .heightcontainer {
            height: 100%;
            position: relative;
            h2:before {
                font-family: FontAwesome;
                content: "\f073";
                padding-right: 0.5rem;
            }
        }

        .calendarmonth {
            width: 98%;
            margin: 10px auto;
        }

        .calendarmonth {
            ul {
                margin: 0;

                li {
                    list-style-type: none;
                    margin-top: 4px;
                }
            }

            td {
                height: 5em;
            }
        }

        .calendar-controls {
            .previous,
            .next {
                width: 30%;
            }

            .current {
                width: 39.95%;
            }
        }

        .controls {
            width: 98%;
            margin: 10px auto;
        }

        .calendar_event_course,
        .calendar_event_global,
        .calendar_event_group,
        .calendar_event_user {
            border-width: 1px 1px 1px 12px;
            border-style: solid;
        }

        .calendar_event_course {
            border-color: $calendarEventCourseColor;
        }

        .calendar_event_global {
            border-color: $calendarEventGlobalColor;
        }

        .calendar_event_group {
            border-color: $calendarEventGroupColor;
        }

        .calendar_event_user {
            border-color: $calendarEventUserColor;
        }
        //.calendar-event-panel {
        //    background-color: $grayLighter;
        //    border: 2px solid $grayLighter;
        //    .yui3-overlay-content {
        //        padding: 19px;
        //        background-color: lighten($wellBackground, 3%);
        //        border: 1px solid darken($wellBackground, 7%);
        //        @include border-radius($baseBorderRadius);
        //        @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .05));
        //    }
        //}
        .calendar-event-panel {
            @extend .card;
        }

        .calendar-controls {
            .current {
                @extend .h2;
            }
        }

        .calendartable {
            td,
            li {
                padding: 5px;
            }

            li {
                padding-left: 10px;
                text-align: left;
            }
        }

        .header {
            overflow: hidden;

            .buttons {
                float: right;
            }
        }

        .event .card-header img {
            vertical-align: baseline;
        }

    }
}

#region-main .card-block {
    box-shadow: 1px 2px 3px 0 #ccc;
}
