/* 3.5 styles */

/* Override all rules with primary color */
/* Alerts. */
.alert-ios [aria-checked=true] .alert-radio-label {
    color: #1a9e9f;
}

.alert-ios [aria-checked=true] .alert-radio-inner {
    border-color: #1a9e9f;
}

.alert-ios [aria-checked=true] .alert-checkbox-icon {
    border-color: #1a9e9f;
    background-color: #1a9e9f;
}

.alert-ios .alert-button {
    color: #1a9e9f;
}

.alert-md .alert-input:focus {
    border-bottom: 2px solid #1a9e9f;
}

.alert-md .alert-radio-inner {
    background-color: #1a9e9f;
}

.alert-md [aria-checked=true] .alert-radio-label {
    color: #1a9e9f;
}

.alert-md [aria-checked=true] .alert-radio-icon {
    border-color: #1a9e9f;
}

.alert-md [aria-checked=true] .alert-checkbox-icon {
    border-color: #1a9e9f;
    background-color: #1a9e9f;
}

.alert-md .alert-button {
    color: #1a9e9f;
}

.alert-wp .alert-wrapper {
    border: 1px solid #1a9e9f;
}

.alert-wp .alert-input:focus {
    border-color: #1a9e9f;
}

.alert-wp .alert-radio-inner {
    background: #1a9e9f;
}

.alert-wp [aria-checked=true] .alert-checkbox-icon {
    border-color: #1a9e9f;
    background: #1a9e9f;
}

/* Buttons and badges. */
.badge-ios {
    background-color: #1a9e9f;
}

.badge-ios-primary {
    background-color: #1a9e9f;
}

.badge-md {
    background-color: #1a9e9f;
}

.badge-md-primary {
    background-color: #1a9e9f;
}

.badge-wp {
    background-color: #1a9e9f;
}

.badge-wp-primary {
    background-color: #1a9e9f;
}

.button-ios {
    background-color: #1a9e9f;
}

.button-outline-ios {
    border-color: #1a9e9f;
    color: #1a9e9f;
}

.button-outline-ios.activated {
    background-color: #1a9e9f;
}

.button-clear-ios {
    color: #1a9e9f;
}

.button-clear-ios:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.button-ios-primary {
    background-color: #1a9e9f;
}

.button-outline-ios-primary {
    border-color: #1a9e9f;
    color: #1a9e9f;
}

.button-outline-ios-primary.activated {
    background-color: #1a9e9f;
}

.button-clear-ios-primary {
    color: #1a9e9f;
}

.button-clear-ios-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.button-md {
    background-color: #1a9e9f;
}

.button-md:hover:not(.disable-hover) {
    background-color: #1a9e9f;
}

.button-outline-md {
    border-color: #1a9e9f;
    color: #1a9e9f;
}

.button-outline-md .button-effect {
    background-color: #1a9e9f;
}

.button-clear-md {
    color: #1a9e9f;
}

.button-md-primary {
    background-color: #1a9e9f;
}

.button-md-primary:hover:not(.disable-hover) {
    background-color: #1a9e9f;
}

.button-clear-md-primary {
    color: #1a9e9f;
}

.button-clear-md-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.button-wp {
    background-color: #1a9e9f;
}

.button-wp:hover:not(.disable-hover) {
    border-color: #e57611;
    background-color: #1a9e9f;
}

.button-outline-wp {
    border-color: #1a9e9f;
    color: #1a9e9f;
}

.button-clear-wp {
    color: #1a9e9f;
}

.button-wp-primary {
    background-color: #1a9e9f;
}

.button-wp-primary:hover:not(.disable-hover) {
    background-color: #1a9e9f;
    border-color: #e57611;
}

.button-clear-wp-primary {
    color: #1a9e9f;
}

.button-clear-wp-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

/* Cards. */
.card-ios .text-ios-primary, ion-app.app-root.ios .core-primary-card .text-ios-primary, ion-app.app-root.ios .core-secondary-card .text-ios-primary, ion-app.app-root.ios .core-danger-card .text-ios-primary, ion-app.app-root.ios .core-light-card .text-ios-primary, ion-app.app-root.ios .core-gray-card .text-ios-primary, ion-app.app-root.ios .core-dark-card .text-ios-primary, ion-app.app-root.ios .core-warning-card .text-ios-primary, ion-app.app-root.ios .core-success-card .text-ios-primary, ion-app.app-root.ios .core-info-card .text-ios-primary {
    color: #1a9e9f;
}

.card-ios-primary {
    background-color: #1a9e9f;
}

.card-ios-primary .text-ios-primary,
.card-ios-primary .card-header-ios-primary,
.card-ios-primary .card-title-ios-primary,
.card-ios-primary .card-content-ios-primary {
    color: #1a9e9f;
}

.card-header-ios-primary,
.card-title-ios-primary,
.card-content-ios-primary {
    color: #1a9e9f;
}

.card-ios-secondary .text-ios-primary,
.card-ios-secondary .card-header-ios-primary,
.card-ios-secondary .card-title-ios-primary,
.card-ios-secondary .card-content-ios-primary {
    color: #1a9e9f;
}

.card-ios-danger .text-ios-primary,
.card-ios-danger .card-header-ios-primary,
.card-ios-danger .card-title-ios-primary,
.card-ios-danger .card-content-ios-primary {
    color: #1a9e9f;
}

.card-ios-light .text-ios-primary,
.card-ios-light .card-header-ios-primary,
.card-ios-light .card-title-ios-primary,
.card-ios-light .card-content-ios-primary {
    color: #1a9e9f;
}

.card-ios-gray .text-ios-primary,
.card-ios-gray .card-header-ios-primary,
.card-ios-gray .card-title-ios-primary,
.card-ios-gray .card-content-ios-primary {
    color: #1a9e9f;
}

.card-ios-dark .text-ios-primary,
.card-ios-dark .card-header-ios-primary,
.card-ios-dark .card-title-ios-primary,
.card-ios-dark .card-content-ios-primary {
    color: #1a9e9f;
}

.card-ios-warning .text-ios-primary,
.card-ios-warning .card-header-ios-primary,
.card-ios-warning .card-title-ios-primary,
.card-ios-warning .card-content-ios-primary {
    color: #1a9e9f;
}

.card-ios-success .text-ios-primary,
.card-ios-success .card-header-ios-primary,
.card-ios-success .card-title-ios-primary,
.card-ios-success .card-content-ios-primary {
    color: #1a9e9f;
}

.card-ios-info .text-ios-primary,
.card-ios-info .card-header-ios-primary,
.card-ios-info .card-title-ios-primary,
.card-ios-info .card-content-ios-primary {
    color: #1a9e9f;
}

.card-md .text-md-primary, ion-app.app-root.md .core-primary-card .text-md-primary, ion-app.app-root.md .core-secondary-card .text-md-primary, ion-app.app-root.md .core-danger-card .text-md-primary, ion-app.app-root.md .core-light-card .text-md-primary, ion-app.app-root.md .core-gray-card .text-md-primary, ion-app.app-root.md .core-dark-card .text-md-primary, ion-app.app-root.md .core-warning-card .text-md-primary, ion-app.app-root.md .core-success-card .text-md-primary, ion-app.app-root.md .core-info-card .text-md-primary {
    color: #1a9e9f;
}

.card-md-primary {
    background-color: #1a9e9f;
}

.card-md-primary .text-md-primary,
.card-md-primary .card-header-md-primary,
.card-md-primary .card-title-md-primary,
.card-md-primary .card-content-md-primary {
    color: #1a9e9f;
}

.card-header-md-primary,
.card-title-md-primary,
.card-content-md-primary {
    color: #1a9e9f;
}

.card-md-secondary .text-md-primary,
.card-md-secondary .card-header-md-primary,
.card-md-secondary .card-title-md-primary,
.card-md-secondary .card-content-md-primary {
    color: #1a9e9f;
}

.card-md-danger .text-md-primary,
.card-md-danger .card-header-md-primary,
.card-md-danger .card-title-md-primary,
.card-md-danger .card-content-md-primary {
    color: #1a9e9f;
}

.card-md-light .text-md-primary,
.card-md-light .card-header-md-primary,
.card-md-light .card-title-md-primary,
.card-md-light .card-content-md-primary {
    color: #1a9e9f;
}

.card-md-gray .text-md-primary,
.card-md-gray .card-header-md-primary,
.card-md-gray .card-title-md-primary,
.card-md-gray .card-content-md-primary {
    color: #1a9e9f;
}

.card-md-dark .text-md-primary,
.card-md-dark .card-header-md-primary,
.card-md-dark .card-title-md-primary,
.card-md-dark .card-content-md-primary {
    color: #1a9e9f;
}

.card-md-warning .text-md-primary,
.card-md-warning .card-header-md-primary,
.card-md-warning .card-title-md-primary,
.card-md-warning .card-content-md-primary {
    color: #1a9e9f;
}

.card-md-success .text-md-primary,
.card-md-success .card-header-md-primary,
.card-md-success .card-title-md-primary,
.card-md-success .card-content-md-primary {
    color: #1a9e9f;
}

.card-md-info .text-md-primary,
.card-md-info .card-header-md-primary,
.card-md-info .card-title-md-primary,
.card-md-info .card-content-md-primary {
    color: #1a9e9f;
}

.card-wp .text-wp-primary, ion-app.app-root.wp .core-primary-card .text-wp-primary, ion-app.app-root.wp .core-secondary-card .text-wp-primary, ion-app.app-root.wp .core-danger-card .text-wp-primary, ion-app.app-root.wp .core-light-card .text-wp-primary, ion-app.app-root.wp .core-gray-card .text-wp-primary, ion-app.app-root.wp .core-dark-card .text-wp-primary, ion-app.app-root.wp .core-warning-card .text-wp-primary, ion-app.app-root.wp .core-success-card .text-wp-primary, ion-app.app-root.wp .core-info-card .text-wp-primary {
    color: #1a9e9f;
}

.card-wp-primary {
    background-color: #1a9e9f;
}

.card-wp-primary .text-wp-primary,
.card-wp-primary .card-header-wp-primary,
.card-wp-primary .card-title-wp-primary,
.card-wp-primary .card-content-wp-primary {
    color: #1a9e9f;
}

.card-header-wp-primary,
.card-title-wp-primary,
.card-content-wp-primary {
    color: #1a9e9f;
}

.card-wp-secondary .text-wp-primary,
.card-wp-secondary .card-header-wp-primary,
.card-wp-secondary .card-title-wp-primary,
.card-wp-secondary .card-content-wp-primary {
    color: #1a9e9f;
}

.card-wp-danger .text-wp-primary,
.card-wp-danger .card-header-wp-primary,
.card-wp-danger .card-title-wp-primary,
.card-wp-danger .card-content-wp-primary {
    color: #1a9e9f;
}

.card-wp-light .text-wp-primary,
.card-wp-light .card-header-wp-primary,
.card-wp-light .card-title-wp-primary,
.card-wp-light .card-content-wp-primary {
    color: #1a9e9f;
}

.card-wp-gray .text-wp-primary,
.card-wp-gray .card-header-wp-primary,
.card-wp-gray .card-title-wp-primary,
.card-wp-gray .card-content-wp-primary {
    color: #1a9e9f;
}

.card-wp-dark .text-wp-primary,
.card-wp-dark .card-header-wp-primary,
.card-wp-dark .card-title-wp-primary,
.card-wp-dark .card-content-wp-primary {
    color: #1a9e9f;
}

.card-wp-warning .text-wp-primary,
.card-wp-warning .card-header-wp-primary,
.card-wp-warning .card-title-wp-primary,
.card-wp-warning .card-content-wp-primary {
    color: #1a9e9f;
}

.card-wp-success .text-wp-primary,
.card-wp-success .card-header-wp-primary,
.card-wp-success .card-title-wp-primary,
.card-wp-success .card-content-wp-primary {
    color: #1a9e9f;
}

.card-wp-info .text-wp-primary,
.card-wp-info .card-header-wp-primary,
.card-wp-info .card-title-wp-primary,
.card-wp-info .card-content-wp-primary {
    color: #1a9e9f;
}

/* Checkboxes */
.checkbox-ios .checkbox-checked {
    border-color: #1a9e9f;
    background-color: #1a9e9f;
}

.checkbox-ios-primary .checkbox-checked {
    border-color: #1a9e9f;
    background-color: #1a9e9f;
}

.checkbox-md .checkbox-checked {
    border-color: #1a9e9f;
    background-color: #1a9e9f;
}

.checkbox-md-primary .checkbox-checked {
    border-color: #1a9e9f;
    background-color: #1a9e9f;
}

.checkbox-wp .checkbox-checked {
    border-color: #1a9e9f;
    background-color: #1a9e9f;
}

.checkbox-wp-primary .checkbox-checked {
    border-color: #1a9e9f;
    background-color: #1a9e9f;
}

/* Chips. */
.chip-ios > ion-icon {
    background-color: #1a9e9f;
}

.chip-ios-primary,
.chip-ios .icon-ios-primary {
    background-color: #1a9e9f;
}

.chip-md > ion-icon {
    background-color: #1a9e9f;
}

.chip-md-primary,
.chip-md .icon-md-primary {
    background-color: #1a9e9f;
}

.chip-wp > ion-icon {
    background-color: #1a9e9f;
}

.chip-wp-primary,
.chip-wp .icon-wp-primary {
    background-color: #1a9e9f;
}

/* Fabs. */
.fab-ios {
    background-color: #1a9e9f;
}

.fab-ios-primary {
    background-color: #1a9e9f;
}

.fab-md {
    background-color: #1a9e9f;
}

.fab-md-primary {
    background-color: #1a9e9f;
}

.fab-wp {
    background-color: #1a9e9f;
}

.fab-wp-primary {
    color: #fff;
    background-color: #1a9e9f;
}

/* Icons. */
.icon-ios-primary {
    color: #1a9e9f;
}

.icon-md-primary {
    color: #1a9e9f;
}

.icon-wp-primary {
    color: #1a9e9f;
}

/* List items. */
.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: #1a9e9f;
    -webkit-box-shadow: inset 0 -1px 0 0 #1a9e9f;
    box-shadow: inset 0 -1px 0 0 #1a9e9f;
}

.list-md .item-input.item-input-has-focus:last-child,
.list-md .item-input.input-has-focus:last-child {
    border-bottom-color: #1a9e9f;
    -webkit-box-shadow: inset 0 -1px 0 0 #1a9e9f;
    box-shadow: inset 0 -1px 0 0 #1a9e9f;
}

.item-wp.item-input.item-input-has-focus .text-input,
.item-wp.item-input.input-has-focus .text-input {
    border-color: #1a9e9f;
}

.item-ios .text-ios-primary {
    color: #1a9e9f;
}

.item-ios-primary,
.item-divider-ios-primary {
    background-color: #1a9e9f;
}

.item-md .text-md-primary {
    color: #1a9e9f;
}

.item-md-primary,
.item-divider-md-primary {
    background-color: #1a9e9f;
}

.item-wp .text-wp-primary {
    color: #1a9e9f;
}

.item-wp-primary,
.item-divider-wp-primary {
    background-color: #1a9e9f;
}

/* Labels. */
.label-ios-primary,
.item-input .label-ios-primary,
.item-select .label-ios-primary,
.item-datetime .label-ios-primary {
    color: #1a9e9f;
}

.item-input-has-focus .label-md[stacked],
.input-has-focus .label-md[stacked],
.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating] {
    color: #1a9e9f;
}

.label-md-primary,
.item-input .label-md-primary,
.item-select .label-md-primary,
.item-datetime .label-md-primary {
    color: #1a9e9f;
}

.item-input-has-focus .label-wp[stacked],
.input-has-focus .label-wp[stacked],
.item-input-has-focus .label-wp[floating],
.input-has-focus .label-wp[floating] {
    color: #1a9e9f;
}

.label-wp-primary,
.item-input .label-wp-primary,
.item-select .label-wp-primary,
.item-datetime .label-wp-primary {
    color: #1a9e9f;
}

.list-header-ios-primary {
    background-color: #1a9e9f;
}

.list-header-md-primary {
    background-color: #1a9e9f;
}

.list-header-wp-primary {
    background-color: #1a9e9f;
}

/* Loading spinner */
.loading-ios .spinner-ios line,
.loading-ios .spinner-ios-small line {
    stroke: #1a9e9f;
}

.loading-ios .spinner-bubbles circle {
    fill: #1a9e9f;
}

.loading-ios .spinner-circles circle {
    fill: #1a9e9f;
}

.loading-ios .spinner-crescent circle {
    stroke: #1a9e9f;
}

.loading-ios .spinner-dots circle {
    fill: #1a9e9f;
}

.loading-md .spinner-ios line,
.loading-md .spinner-ios-small line {
    stroke: #1a9e9f;
}

.loading-md .spinner-bubbles circle {
    fill: #1a9e9f;
}

.loading-md .spinner-circles circle {
    fill: #1a9e9f;
}

.loading-md .spinner-crescent circle {
    stroke: #1a9e9f;
}

.loading-md .spinner-dots circle {
    fill: #1a9e9f;
}

.loading-wp .spinner-ios line,
.loading-wp .spinner-ios-small line {
    stroke: #1a9e9f;
}

.loading-wp .spinner-bubbles circle {
    fill: #1a9e9f;
}

.loading-wp .spinner-circles circle {
    fill: #1a9e9f;
}

.loading-wp .spinner-crescent circle {
    stroke: #1a9e9f;
}

.loading-wp .spinner-dots circle {
    fill: #1a9e9f;
}

/* Notes. */
.note-ios-primary {
    color: #1a9e9f;
}

.note-md-primary {
    color: #1a9e9f;
}

.note-wp-primary {
    color: #1a9e9f;
}

/* Picker. */
.picker-ios .picker-button,
.picker-ios .picker-button.activated {
    color: #1a9e9f;
}

.picker-md .picker-button,
.picker-md .picker-button.activated {
    color: #1a9e9f;
}

.picker-md .picker-prefix,
.picker-md .picker-suffix,
.picker-md .picker-opt.picker-opt-selected {
    color: #1a9e9f;
}

.picker-wp .picker-button,
.picker-wp .picker-button.activated {
    color: #1a9e9f;
}

.picker-wp .picker-prefix,
.picker-wp .picker-suffix,
.picker-wp .picker-opt-selected {
    color: #1a9e9f;
}

/* Radio. */
.radio-ios .radio-checked .radio-inner {
    border-color: #1a9e9f;
}

.item-radio-checked.item-ios ion-label {
    color: #1a9e9f;
}

.item-radio-ios-primary.item-radio-checked ion-label {
    color: #1a9e9f;
}

.radio-ios-primary .radio-checked {
    color: #1a9e9f;
}

.radio-ios-primary .radio-checked .radio-inner {
    border-color: #1a9e9f;
}

.radio-md .radio-inner {
    background-color: #1a9e9f;
}

.radio-md .radio-checked {
    border-color: #1a9e9f;
}

.item-radio-checked.item-md ion-label {
    color: #1a9e9f;
}

.item-radio-md-primary.item-radio-checked ion-label {
    color: #1a9e9f;
}

.radio-md-primary .radio-checked {
    border-color: #1a9e9f;
}

.radio-md-primary .radio-inner {
    background-color: #1a9e9f;
}

.radio-wp .radio-checked {
    border-color: #1a9e9f;
}

.radio-wp-primary .radio-checked {
    border-color: #1a9e9f;
}

/* Ranges. */
.range-ios .range-bar-active {
    background: #1a9e9f;
}

.range-ios .range-tick-active {
    background: #1a9e9f;
}

.range-ios-primary .range-bar-active,
.range-ios-primary .range-tick-active {
    background: #1a9e9f;
}

.range-md .range-bar-active {
    bottom: 0;
    width: auto;
    background: #1a9e9f;
}

.range-md .range-knob {
    background: #1a9e9f;
}

.range-md .range-pin {
    background: #1a9e9f;
}

.range-md .range-pin::before {
    background: #1a9e9f;
}

.range-md-primary .range-bar-active,
.range-md-primary .range-knob,
.range-md-primary .range-pin,
.range-md-primary .range-pin::before {
    background: #1a9e9f;
}

.range-wp .range-bar-active {
    background: #1a9e9f;
}

.range-wp .range-knob {
    background: #1a9e9f;
}

.range-wp .range-tick-active {
    background: #1a9e9f;
}

.range-wp .range-pin {
    background: #1a9e9f;
}

.range-wp-primary .range-bar-active,
.range-wp-primary .range-tick-active,
.range-wp-primary .range-knob,
.range-wp-primary .range-pin {
    background: #1a9e9f;
}

/* Refresher. */
.refresher-pulling-icon,
.refresher-refreshing-icon {
    color: #1a9e9f;
}

.refresher-refreshing .spinner-ios line,
.refresher-refreshing .spinner-ios-small line,
.refresher-refreshing .spinner-crescent circle {
    stroke: #1a9e9f;
}

.refresher-refreshing .spinner-bubbles circle,
.refresher-refreshing .spinner-circles circle,
.refresher-refreshing .spinner-dots circle {
    fill: #1a9e9f;
}

/* Bars. */
.searchbar-ios-primary .searchbar-ios-cancel {
    color: #1a9e9f;
}

.toolbar-ios-light .searchbar-ios .searchbar-ios-cancel {
    color: #1a9e9f;
}

.searchbar-wp.searchbar-has-focus .searchbar-input-container {
    border-color: #1a9e9f;
}

.searchbar-wp-primary.searchbar-has-focus .searchbar-input-container {
    border-color: #1a9e9f;
}

.segment-ios-primary .segment-button {
    border-color: #1a9e9f;
    color: #1a9e9f;
}

.segment-ios-primary .segment-button.segment-activated {
    background-color: #1a9e9f;
}

.toolbar-ios-primary .segment-ios .segment-button.segment-activated {
    color: #1a9e9f;
}

.segment-md-primary .segment-button {
    color: #1a9e9f;
}

.segment-md-primary .segment-button.activated, .segment-md-primary .segment-button.segment-activated {
    border-color: #1a9e9f;
    color: #1a9e9f;
}

.segment-wp-primary .segment-button {
    color: #1a9e9f;
}

.segment-wp-primary .segment-button.activated, .segment-wp-primary .segment-button.segment-activated {
    border-color: #1a9e9f;
    color: #1a9e9f;
}

/* Select. */
.select-ios .select-placeholder {
    color: #1a9e9f;
}

.select-md .select-placeholder {
    color: #1a9e9f;
}

.select-wp .select-placeholder {
    color: #1a9e9f;
}

/* Spinner. */
.spinner-ios-ios line,
.spinner-ios-ios-small line {
    stroke: #1a9e9f;
}

.spinner-ios-primary.spinner-ios line,
.spinner-ios-primary.spinner-ios-small line,
.spinner-ios-primary.spinner-crescent circle {
    stroke: #1a9e9f;
}

.spinner-ios-primary.spinner-bubbles circle,
.spinner-ios-primary.spinner-circles circle,
.spinner-ios-primary.spinner-dots circle {
    fill: #1a9e9f;
}

.spinner-md-crescent circle {
    stroke: #1a9e9f;
}

.spinner-md-primary.spinner-ios line,
.spinner-md-primary.spinner-ios-small line,
.spinner-md-primary.spinner-crescent circle {
    stroke: #1a9e9f;
}

.spinner-md-primary.spinner-bubbles circle,
.spinner-md-primary.spinner-circles circle,
.spinner-md-primary.spinner-dots circle {
    fill: #1a9e9f;
}

.spinner-wp-circles circle {
    fill: #1a9e9f;
}

.spinner-wp-primary.spinner-ios line,
.spinner-wp-primary.spinner-ios-small line,
.spinner-wp-primary.spinner-crescent circle {
    stroke: #1a9e9f;
}

.spinner-wp-primary.spinner-bubbles circle,
.spinner-wp-primary.spinner-circles circle,
.spinner-wp-primary.spinner-dots circle {
    fill: #1a9e9f;
}

/* Tabs. */
.tabs-ios .tab-button:hover:not(.disable-hover), .tabs-ios ion-app.app-root .core-tabs-bar a.tab-slide:hover:not(.disable-hover), ion-app.app-root .core-tabs-bar .tabs-ios a.tab-slide:hover:not(.disable-hover),
.tabs-ios .tab-button[aria-selected=true],
.tabs-ios ion-app.app-root .core-tabs-bar a[aria-selected=true].tab-slide, ion-app.app-root .core-tabs-bar
.tabs-ios a[aria-selected=true].tab-slide {
    color: #1a9e9f;
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon, .tabs-ios ion-app.app-root .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon, ion-app.app-root .core-tabs-bar .tabs-ios a[aria-selected=true].tab-slide .tab-button-icon {
    color: #1a9e9f;
}

.tabs-ios-primary .tabbar {
    border-color: #d36705;
    background-color: #1a9e9f;
}

.tabs-md .tab-button[aria-selected=true], .tabs-md ion-app.app-root .core-tabs-bar a[aria-selected=true].tab-slide, ion-app.app-root .core-tabs-bar .tabs-md a[aria-selected=true].tab-slide {
    color: #1a9e9f;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md ion-app.app-root .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon,
ion-app.app-root .core-tabs-bar .tabs-md a[aria-selected=true].tab-slide .tab-button-icon {
    color: #1a9e9f;
}

.tabs-md[tabsHighlight=true] .tab-highlight {
    background: #1a9e9f;
}

.tabs-md-primary .tabbar {
    background-color: #1a9e9f;
}

.tabs-wp .tab-button[aria-selected=true], .tabs-wp ion-app.app-root .core-tabs-bar a[aria-selected=true].tab-slide, ion-app.app-root .core-tabs-bar .tabs-wp a[aria-selected=true].tab-slide {
    border-bottom-color: #1a9e9f;
    color: #1a9e9f;
}

.tabs-wp[tabsPlacement=bottom] .tab-button[aria-selected=true], .tabs-wp[tabsPlacement=bottom] ion-app.app-root .core-tabs-bar a[aria-selected=true].tab-slide, ion-app.app-root .core-tabs-bar .tabs-wp[tabsPlacement=bottom] a[aria-selected=true].tab-slide {
    border-top-color: #1a9e9f;
}

.tabs-wp .tab-button[aria-selected=true] .tab-button-icon, .tabs-wp ion-app.app-root .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon, ion-app.app-root .core-tabs-bar .tabs-wp a[aria-selected=true].tab-slide .tab-button-icon {
    color: #1a9e9f;
}

.tabs-wp-primary .tabbar {
    background-color: #1a9e9f;
}

/* Toggles. */
.toggle-ios.toggle-checked .toggle-icon {
    background-color: #1a9e9f;
}

.toggle-ios-primary.toggle-checked .toggle-icon {
    background-color: #1a9e9f;
}

.toggle-md.toggle-checked .toggle-inner {
    background-color: #1a9e9f;
}

.toggle-md-primary.toggle-checked .toggle-inner {
    background-color: #1a9e9f;
}

.toggle-wp.toggle-checked .toggle-icon {
    border-color: #1a9e9f;
    background-color: #1a9e9f;
}

.toggle-wp-primary.toggle-checked .toggle-icon {
    border-color: #1a9e9f;
    background-color: #1a9e9f;
}

/* Toolbar. */
.toolbar-background-ios {
    background: #55ab26;
}

.toolbar-ios-primary .toolbar-background-ios {
    background: #1a9e9f;
}

.toolbar-ios-primary .bar-button-primary-ios,
.toolbar-ios-primary .bar-button-default.bar-button-ios-primary,
.toolbar-ios-primary .bar-button-clear-ios-primary {
    color: #1a9e9f;
}

.toolbar-ios-primary .bar-button-primary-ios:hover:not(.disable-hover),
.toolbar-ios-primary .bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.toolbar-ios-primary .bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-ios-primary .bar-button-outline-ios-primary {
    border-color: #1a9e9f;
    color: #1a9e9f;
}

.toolbar-ios-primary .bar-button-outline-ios-primary.activated {
    background-color: #1a9e9f;
}

.toolbar-ios-primary .bar-button-solid-ios-primary {
    background-color: #1a9e9f;
}

.bar-button-primary-ios,
.bar-button-default.bar-button-ios-primary,
.bar-button-clear-ios-primary {
    color: #1a9e9f;
}

.bar-button-primary-ios:hover:not(.disable-hover),
.bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.bar-button-outline-ios-primary {
    border-color: #1a9e9f;
    color: #1a9e9f;
}

.bar-button-outline-ios-primary.activated {
    background-color: #1a9e9f;
}

.bar-button-solid-ios-primary {
    background-color: #1a9e9f;
}

.toolbar-ios-secondary .bar-button-primary-ios,
.toolbar-ios-secondary .bar-button-default.bar-button-ios-primary,
.toolbar-ios-secondary .bar-button-clear-ios-primary {
    color: #1a9e9f;
    background-color: transparent;
}

.toolbar-ios-secondary .bar-button-primary-ios:hover:not(.disable-hover),
.toolbar-ios-secondary .bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.toolbar-ios-secondary .bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-ios-secondary .bar-button-outline-ios-primary {
    border-color: #1a9e9f;
    color: #1a9e9f;
}

.toolbar-ios-secondary .bar-button-outline-ios-primary.activated {
    background-color: #1a9e9f;
}

.toolbar-ios-secondary .bar-button-solid-ios-primary {
    background-color: #1a9e9f;
}

.toolbar-ios-danger .bar-button-primary-ios,
.toolbar-ios-danger .bar-button-default.bar-button-ios-primary,
.toolbar-ios-danger .bar-button-clear-ios-primary {
    color: #1a9e9f;
}

.toolbar-ios-danger .bar-button-primary-ios:hover:not(.disable-hover),
.toolbar-ios-danger .bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.toolbar-ios-danger .bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-ios-danger .bar-button-outline-ios-primary {
    border-color: #1a9e9f;
    color: #1a9e9f;
}

.toolbar-ios-danger .bar-button-outline-ios-primary.activated {
    background-color: #1a9e9f;
}

.toolbar-ios-danger .bar-button-solid-ios-primary {
    background-color: #1a9e9f;
}

.toolbar-ios-light .bar-button-primary-ios,
.toolbar-ios-light .bar-button-default.bar-button-ios-primary,
.toolbar-ios-light .bar-button-clear-ios-primary {
    color: #1a9e9f;
}

.toolbar-ios-light .bar-button-primary-ios:hover:not(.disable-hover),
.toolbar-ios-light .bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.toolbar-ios-light .bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-ios-light .bar-button-outline-ios-primary {
    border-color: #1a9e9f;
    color: #1a9e9f;
}

.toolbar-ios-light .bar-button-outline-ios-primary.activated {
    background-color: #1a9e9f;
}

.toolbar-ios-light .bar-button-solid-ios-primary {
    background-color: #1a9e9f;
}

.toolbar-ios-gray .bar-button-primary-ios,
.toolbar-ios-gray .bar-button-default.bar-button-ios-primary,
.toolbar-ios-gray .bar-button-clear-ios-primary {
    color: #1a9e9f;
}

.toolbar-ios-gray .bar-button-primary-ios:hover:not(.disable-hover),
.toolbar-ios-gray .bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.toolbar-ios-gray .bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-ios-gray .bar-button-outline-ios-primary {
    border-color: #1a9e9f;
    color: #1a9e9f;
}

.toolbar-ios-gray .bar-button-outline-ios-primary.activated {
    background-color: #1a9e9f;
}

.toolbar-ios-gray .bar-button-solid-ios-primary {
    background-color: #1a9e9f;
}

.toolbar-ios-dark .bar-button-primary-ios,
.toolbar-ios-dark .bar-button-default.bar-button-ios-primary,
.toolbar-ios-dark .bar-button-clear-ios-primary {
    color: #1a9e9f;
}

.toolbar-ios-dark .bar-button-primary-ios:hover:not(.disable-hover),
.toolbar-ios-dark .bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.toolbar-ios-dark .bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-ios-dark .bar-button-outline-ios-primary {
    border-color: #1a9e9f;
    color: #1a9e9f;
}

.toolbar-ios-dark .bar-button-outline-ios-primary.activated {
    background-color: #1a9e9f;
}

.toolbar-ios-dark .bar-button-solid-ios-primary {
    background-color: #1a9e9f;
}

.toolbar-ios-warning .bar-button-primary-ios,
.toolbar-ios-warning .bar-button-default.bar-button-ios-primary,
.toolbar-ios-warning .bar-button-clear-ios-primary {
    color: #1a9e9f;
}

.toolbar-ios-warning .bar-button-primary-ios:hover:not(.disable-hover),
.toolbar-ios-warning .bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.toolbar-ios-warning .bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-ios-warning .bar-button-outline-ios-primary {
    border-color: #1a9e9f;
    color: #1a9e9f;
}

.toolbar-ios-warning .bar-button-outline-ios-primary.activated {
    background-color: #1a9e9f;
}

.toolbar-ios-warning .bar-button-solid-ios-primary {
    background-color: #1a9e9f;
}

.toolbar-ios-success .bar-button-primary-ios,
.toolbar-ios-success .bar-button-default.bar-button-ios-primary,
.toolbar-ios-success .bar-button-clear-ios-primary {
    color: #1a9e9f;
}

.toolbar-ios-success .bar-button-primary-ios:hover:not(.disable-hover),
.toolbar-ios-success .bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.toolbar-ios-success .bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-ios-success .bar-button-outline-ios-primary {
    border-color: #1a9e9f;
    color: #1a9e9f;
}

.toolbar-ios-success .bar-button-outline-ios-primary.activated {
    background-color: #1a9e9f;
}

.toolbar-ios-success .bar-button-solid-ios-primary {
    background-color: #1a9e9f;
}

.toolbar-ios-info .bar-button-primary-ios,
.toolbar-ios-info .bar-button-default.bar-button-ios-primary,
.toolbar-ios-info .bar-button-clear-ios-primary {
    color: #1a9e9f;
}

.toolbar-ios-info .bar-button-primary-ios:hover:not(.disable-hover),
.toolbar-ios-info .bar-button-default.bar-button-ios-primary:hover:not(.disable-hover),
.toolbar-ios-info .bar-button-clear-ios-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-ios-info .bar-button-outline-ios-primary {
    border-color: #1a9e9f;
    color: #1a9e9f;
}

.toolbar-ios-info .bar-button-outline-ios-primary.activated {
    background-color: #1a9e9f;
}

.toolbar-ios-info .bar-button-solid-ios-primary {
    background-color: #1a9e9f;
}

.toolbar-background-md {
    background: #55ab26;
}

.toolbar-md-primary .toolbar-background-md {
    background: #1a9e9f;
}

.toolbar-md-primary .bar-button-primary-md,
.toolbar-md-primary .bar-button-clear-md-primary,
.toolbar-md-primary .bar-button-md-primary {
    color: #1a9e9f;
}

.toolbar-md-primary .bar-button-primary-md:hover:not(.disable-hover),
.toolbar-md-primary .bar-button-clear-md-primary:hover:not(.disable-hover),
.toolbar-md-primary .bar-button-md-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-md-primary .bar-button-solid-md-primary {
    background-color: #1a9e9f;
}

.bar-button-primary-md,
.bar-button-clear-md-primary,
.bar-button-md-primary {
    color: #1a9e9f;
}

.bar-button-primary-md:hover:not(.disable-hover),
.bar-button-clear-md-primary:hover:not(.disable-hover),
.bar-button-md-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.bar-button-solid-md-primary {
    background-color: #1a9e9f;
}

.toolbar-md-secondary .bar-button-primary-md,
.toolbar-md-secondary .bar-button-clear-md-primary,
.toolbar-md-secondary .bar-button-md-primary {
    color: #1a9e9f;
}

.toolbar-md-secondary .bar-button-primary-md:hover:not(.disable-hover),
.toolbar-md-secondary .bar-button-clear-md-primary:hover:not(.disable-hover),
.toolbar-md-secondary .bar-button-md-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-md-secondary .bar-button-solid-md-primary {
    color: #fff;
    background-color: #1a9e9f;
}

.toolbar-md-danger .bar-button-primary-md,
.toolbar-md-danger .bar-button-clear-md-primary,
.toolbar-md-danger .bar-button-md-primary {
    color: #1a9e9f;
}

.toolbar-md-danger .bar-button-primary-md:hover:not(.disable-hover),
.toolbar-md-danger .bar-button-clear-md-primary:hover:not(.disable-hover),
.toolbar-md-danger .bar-button-md-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-md-danger .bar-button-solid-md-primary {
    background-color: #1a9e9f;
}

.toolbar-md-light .bar-button-primary-md,
.toolbar-md-light .bar-button-clear-md-primary,
.toolbar-md-light .bar-button-md-primary {
    color: #1a9e9f;
}

.toolbar-md-light .bar-button-primary-md:hover:not(.disable-hover),
.toolbar-md-light .bar-button-clear-md-primary:hover:not(.disable-hover),
.toolbar-md-light .bar-button-md-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-md-light .bar-button-solid-md-primary {
    background-color: #1a9e9f;
}

.toolbar-md-gray .bar-button-primary-md,
.toolbar-md-gray .bar-button-clear-md-primary,
.toolbar-md-gray .bar-button-md-primary {
    color: #1a9e9f;
}

.toolbar-md-gray .bar-button-primary-md:hover:not(.disable-hover),
.toolbar-md-gray .bar-button-clear-md-primary:hover:not(.disable-hover),
.toolbar-md-gray .bar-button-md-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-md-gray .bar-button-solid-md-primary {
    background-color: #1a9e9f;
}

.toolbar-md-dark .bar-button-primary-md,
.toolbar-md-dark .bar-button-clear-md-primary,
.toolbar-md-dark .bar-button-md-primary {
    color: #1a9e9f;
}

.toolbar-md-dark .bar-button-primary-md:hover:not(.disable-hover),
.toolbar-md-dark .bar-button-clear-md-primary:hover:not(.disable-hover),
.toolbar-md-dark .bar-button-md-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-md-dark .bar-button-solid-md-primary {
    color: #fff;
    background-color: #1a9e9f;
}

.toolbar-md-warning .bar-button-primary-md,
.toolbar-md-warning .bar-button-clear-md-primary,
.toolbar-md-warning .bar-button-md-primary {
    color: #1a9e9f;
}

.toolbar-md-warning .bar-button-primary-md:hover:not(.disable-hover),
.toolbar-md-warning .bar-button-clear-md-primary:hover:not(.disable-hover),
.toolbar-md-warning .bar-button-md-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-md-warning .bar-button-solid-md-primary {
    background-color: #1a9e9f;
}

.toolbar-md-success .bar-button-primary-md,
.toolbar-md-success .bar-button-clear-md-primary,
.toolbar-md-success .bar-button-md-primary {
    color: #1a9e9f;
}

.toolbar-md-success .bar-button-primary-md:hover:not(.disable-hover),
.toolbar-md-success .bar-button-clear-md-primary:hover:not(.disable-hover),
.toolbar-md-success .bar-button-md-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-md-success .bar-button-solid-md-primary {
    background-color: #1a9e9f;
}

.toolbar-md-info .bar-button-primary-md,
.toolbar-md-info .bar-button-clear-md-primary,
.toolbar-md-info .bar-button-md-primary {
    color: #1a9e9f;
}

.toolbar-md-info .bar-button-primary-md:hover:not(.disable-hover),
.toolbar-md-info .bar-button-clear-md-primary:hover:not(.disable-hover),
.toolbar-md-info .bar-button-md-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-md-info .bar-button-solid-md-primary {
    background-color: #1a9e9f;
}

.toolbar-wp-primary .toolbar-background-wp {
    background: #55ab26;
}

.toolbar-wp-primary .bar-button-primary-wp,
.toolbar-wp-primary .bar-button-clear-wp-primary,
.toolbar-wp-primary .bar-button-wp-primary {
    color: #1a9e9f;
}

.toolbar-wp-primary .bar-button-primary-wp:hover:not(.disable-hover),
.toolbar-wp-primary .bar-button-clear-wp-primary:hover:not(.disable-hover),
.toolbar-wp-primary .bar-button-wp-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-wp-primary .bar-button-solid-wp-primary {
    background-color: #1a9e9f;
}

.bar-button-primary-wp,
.bar-button-clear-wp-primary,
.bar-button-wp-primary {
    color: #1a9e9f;
}

.bar-button-primary-wp:hover:not(.disable-hover),
.bar-button-clear-wp-primary:hover:not(.disable-hover),
.bar-button-wp-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.bar-button-solid-wp-primary {
    background-color: #1a9e9f;
}

.toolbar-wp-secondary .bar-button-primary-wp,
.toolbar-wp-secondary .bar-button-clear-wp-primary,
.toolbar-wp-secondary .bar-button-wp-primary {
    color: #1a9e9f;
}

.toolbar-wp-secondary .bar-button-primary-wp:hover:not(.disable-hover),
.toolbar-wp-secondary .bar-button-clear-wp-primary:hover:not(.disable-hover),
.toolbar-wp-secondary .bar-button-wp-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-wp-secondary .bar-button-solid-wp-primary {
    color: #fff;
    background-color: #1a9e9f;
}

.toolbar-wp-danger .bar-button-primary-wp,
.toolbar-wp-danger .bar-button-clear-wp-primary,
.toolbar-wp-danger .bar-button-wp-primary {
    color: #1a9e9f;
}

.toolbar-wp-danger .bar-button-primary-wp:hover:not(.disable-hover),
.toolbar-wp-danger .bar-button-clear-wp-primary:hover:not(.disable-hover),
.toolbar-wp-danger .bar-button-wp-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-wp-danger .bar-button-solid-wp-primary {
    background-color: #1a9e9f;
}

.toolbar-wp-light .bar-button-primary-wp,
.toolbar-wp-light .bar-button-clear-wp-primary,
.toolbar-wp-light .bar-button-wp-primary {
    color: #1a9e9f;
}

.toolbar-wp-light .bar-button-primary-wp:hover:not(.disable-hover),
.toolbar-wp-light .bar-button-clear-wp-primary:hover:not(.disable-hover),
.toolbar-wp-light .bar-button-wp-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-wp-light .bar-button-solid-wp-primary {
    background-color: #1a9e9f;
}

.toolbar-wp-gray .bar-button-primary-wp,
.toolbar-wp-gray .bar-button-clear-wp-primary,
.toolbar-wp-gray .bar-button-wp-primary {
    color: #1a9e9f;
}

.toolbar-wp-gray .bar-button-primary-wp:hover:not(.disable-hover),
.toolbar-wp-gray .bar-button-clear-wp-primary:hover:not(.disable-hover),
.toolbar-wp-gray .bar-button-wp-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-wp-gray .bar-button-solid-wp-primary {
    background-color: #1a9e9f;
}

.toolbar-wp-dark .bar-button-primary-wp,
.toolbar-wp-dark .bar-button-clear-wp-primary,
.toolbar-wp-dark .bar-button-wp-primary {
    color: #1a9e9f;
}

.toolbar-wp-dark .bar-button-primary-wp:hover:not(.disable-hover),
.toolbar-wp-dark .bar-button-clear-wp-primary:hover:not(.disable-hover),
.toolbar-wp-dark .bar-button-wp-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-wp-dark .bar-button-solid-wp-primary {
    color: #fff;
    background-color: #1a9e9f;
}

.toolbar-wp-warning .bar-button-primary-wp,
.toolbar-wp-warning .bar-button-clear-wp-primary,
.toolbar-wp-warning .bar-button-wp-primary {
    color: #1a9e9f;
}

.toolbar-wp-warning .bar-button-primary-wp:hover:not(.disable-hover),
.toolbar-wp-warning .bar-button-clear-wp-primary:hover:not(.disable-hover),
.toolbar-wp-warning .bar-button-wp-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-wp-warning .bar-button-solid-wp-primary {
    background-color: #1a9e9f;
}

.toolbar-wp-success .bar-button-primary-wp,
.toolbar-wp-success .bar-button-clear-wp-primary,
.toolbar-wp-success .bar-button-wp-primary {
    color: #1a9e9f;
}

.toolbar-wp-success .bar-button-primary-wp:hover:not(.disable-hover),
.toolbar-wp-success .bar-button-clear-wp-primary:hover:not(.disable-hover),
.toolbar-wp-success .bar-button-wp-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-wp-success .bar-button-solid-wp-primary {
    background-color: #1a9e9f;
}

.toolbar-wp-info .bar-button-primary-wp,
.toolbar-wp-info .bar-button-clear-wp-primary,
.toolbar-wp-info .bar-button-wp-primary {
    color: #1a9e9f;
}

.toolbar-wp-info .bar-button-primary-wp:hover:not(.disable-hover),
.toolbar-wp-info .bar-button-clear-wp-primary:hover:not(.disable-hover),
.toolbar-wp-info .bar-button-wp-primary:hover:not(.disable-hover) {
    color: #1a9e9f;
}

.toolbar-wp-info .bar-button-solid-wp-primary {
    background-color: #1a9e9f;
}

/* Text. */
.text-ios-primary {
    color: #1a9e9f;
}

.text-md-primary {
    color: #1a9e9f;
}

.text-wp-primary {
    color: #1a9e9f;
}

/* Addons */
page-addon-mod-data-search .addon-data-contents form .input-md input:focus,
page-addon-mod-data-search form .addon-data-advanced-search .input-md input:focus,
page-addon-mod-data-edit .addon-data-contents form .input-md input:focus,
page-addon-mod-data-edit form .addon-data-advanced-search .input-md input:focus {
    border-bottom-color: #1a9e9f;
    -webkit-box-shadow: inset 0 -1px 0 0 #1a9e9f;
    box-shadow: inset 0 -1px 0 0 #1a9e9f;
}

page-addon-mod-data-search .addon-data-contents form .input-ios input:focus,
page-addon-mod-data-search form .addon-data-advanced-search .input-ios input:focus,
page-addon-mod-data-edit .addon-data-contents form .input-ios input:focus,
page-addon-mod-data-edit form .addon-data-advanced-search .input-ios input:focus {
    border-bottom-color: #1a9e9f;
}

page-addon-mod-data-search .addon-data-contents form .input-wp input:focus,
page-addon-mod-data-search form .addon-data-advanced-search .input-wp input:focus,
page-addon-mod-data-edit .addon-data-contents form .input-wp input:focus,
page-addon-mod-data-edit form .addon-data-advanced-search .input-wp input:focus {
    border-color: #1a9e9f;
}

ion-app.app-root addon-mod-wiki-subwiki-picker .item.addon-mod_wiki-subwiki-selected {
    color: #1a9e9f;
}

ion-app.app-root addon-mod-wiki-subwiki-picker .item.addon-mod_wiki-subwiki-selected .icon {
    color: #1a9e9f;
}

/* Select. */
ion-app.app-root ion-select {
    color: #1a9e9f;
}

ion-app.app-root ion-select .select-icon .select-icon-inner {
    color: #1a9e9f;
}

ion-app.app-root ion-select.core-button-select,
ion-app.app-root .core-button-select {
    color: #1a9e9f;
}

ion-app.app-root ion-select.core-button-select .select-icon .select-icon-inner,
ion-app.app-root .core-button-select .select-icon .select-icon-inner {
    color: #1a9e9f;
}

ion-app.app-root .core-primary-card {
    border-bottom: 3px solid #1a9e9f;
}

ion-app.app-root .core-primary-card[icon-start] ion-icon {
    color: #1a9e9f;
}

ion-app.app-root .core-primary-item {
    border-bottom: 3px solid #1a9e9f !important;
}

ion-app.app-root .core-primary-item ion-icon {
    color: #1a9e9f;
}

ion-app.app-root .core-primary-circle:before {
    color: #1a9e9f;
}

ion-app.app-root .text-primary, ion-app.app-root p.text-primary, ion-app.app-root .item p.text-primary, ion-app.app-root .card p.text-primary {
    color: #1a9e9f;
}

ion-app.app-root.ios .button-ios-light {
    color: #1a9e9f;
}

ion-app.app-root.md .button-md-light {
    color: #1a9e9f;
}

ion-app.app-root.wp .button-wp-light {
    color: #1a9e9f;
}

.fa-primary {
    color: #1a9e9f;
}

ion-app.app-root .core-tabs-bar a.tab-slide[aria-selected=true] {
    color: #1a9e9f !important;
    border-bottom: 2px solid #1a9e9f !important;
}

ion-app.app-root page-core-user-profile .core-user-communication-handlers .core-user-profile-handler {
    color: #1a9e9f;
}

ion-app.app-root page-core-user-profile .core-user-communication-handlers .core-user-profile-handler .icon {
    background-color: #1a9e9f;
}

/* Primary darkened --> mainly for :hover and activated. */
.button-ios.activated {
    background-color: #e57611;
}

.button-ios-primary.activated {
    background-color: #e57611;
}

.button-md.activated {
    background-color: #e57611;
}

.button-md-primary.activated {
    background-color: #e57611;
}

.button-wp.activated {
    background-color: #e57611;
}

.button-wp-primary.activated {
    background-color: #e57611;
}

.fab-ios.activated {
    background-color: #e57611;
}

.fab-ios-primary.activated {
    background-color: #e57611;
}

.fab-md.activated {
    background-color: #e57611;
}

.fab-md-primary.activated {
    background-color: #e57611;
}

.fab-wp.activated {
    background-color: #e57611;
}

.fab-wp-primary.activated {
    background-color: #e57611;
}

.item-ios-primary.activated,
.item-divider-ios-primary.activated {
    background-color: #e57611;
}

.item-md-primary.activated,
.item-divider-md-primary.activated {
    background-color: #e57611;
}

.item-wp-primary.activated,
.item-divider-wp-primary.activated {
    background-color: #e57611;
}

.searchbar-ios-primary .searchbar-ios-cancel:hover:not(.disable-hover) {
    color: #e57611;
}

.toolbar-ios-primary .bar-button-solid-ios-primary.activated {
    background-color: #e57611;
}

.bar-button-solid-ios-primary.activated {
    background-color: #e57611;
}

.toolbar-ios-secondary .bar-button-solid-ios-primary.activated {
    background-color: #e57611;
}

.toolbar-ios-danger .bar-button-solid-ios-primary.activated {
    background-color: #e57611;
}

.toolbar-ios-light .bar-button-solid-ios-primary.activated {
    background-color: #e57611;
}

.toolbar-ios-gray .bar-button-solid-ios-primary.activated {
    background-color: #e57611;
}

.toolbar-ios-dark .bar-button-solid-ios-primary.activated {
    background-color: #e57611;
}

.toolbar-ios-warning .bar-button-solid-ios-primary.activated {
    background-color: #e57611;
}

.toolbar-ios-success .bar-button-solid-ios-primary.activated {
    background-color: #e57611;
}

.toolbar-ios-info .bar-button-solid-ios-primary.activated {
    background-color: #e57611;
}

.toolbar-md-primary .bar-button-outline-md-primary {
    border-color: #e57611;
    color: #e57611;
}

.toolbar-md-primary .bar-button-outline-md-primary .button-effect {
    background-color: #e57611;
}

.toolbar-md-primary .bar-button-solid-md-primary.activated {
    background-color: #e57611;
}

.bar-button-outline-md-primary {
    border-color: #e57611;
    color: #e57611;
}

.bar-button-outline-md-primary .button-effect {
    background-color: #e57611;
}

.bar-button-solid-md-primary.activated {
    background-color: #e57611;
}

.toolbar-md-secondary .bar-button-outline-md-primary {
    border-color: #e57611;
    color: #e57611;
}

.toolbar-md-secondary .bar-button-outline-md-primary .button-effect {
    background-color: #e57611;
}

.toolbar-md-secondary .bar-button-solid-md-primary.activated {
    background-color: #e57611;
}

.toolbar-md-danger .bar-button-outline-md-primary {
    border-color: #e57611;
    color: #e57611;
}

.toolbar-md-danger .bar-button-outline-md-primary .button-effect {
    background-color: #e57611;
}

.toolbar-md-danger .bar-button-solid-md-primary.activated {
    background-color: #e57611;
}

.toolbar-md-light .bar-button-outline-md-primary {
    border-color: #e57611;
    color: #e57611;
}

.toolbar-md-light .bar-button-outline-md-primary .button-effect {
    background-color: #e57611;
}

.toolbar-md-light .bar-button-solid-md-primary.activated {
    background-color: #e57611;
}

.toolbar-md-gray .bar-button-outline-md-primary {
    border-color: #e57611;
    color: #e57611;
}

.toolbar-md-gray .bar-button-outline-md-primary .button-effect {
    background-color: #e57611;
}

.toolbar-md-gray .bar-button-solid-md-primary.activated {
    background-color: #e57611;
}

.toolbar-md-dark .bar-button-outline-md-primary {
    border-color: #e57611;
    color: #e57611;
}

.toolbar-md-dark .bar-button-outline-md-primary .button-effect {
    background-color: #e57611;
}

.toolbar-md-dark .bar-button-solid-md-primary.activated {
    background-color: #e57611;
}

.toolbar-md-warning .bar-button-outline-md-primary {
    border-color: #e57611;
    color: #e57611;
}

.toolbar-md-warning .bar-button-outline-md-primary .button-effect {
    background-color: #e57611;
}

.toolbar-md-warning .bar-button-solid-md-primary.activated {
    background-color: #e57611;
}

.toolbar-md-success .bar-button-outline-md-primary {
    border-color: #e57611;
    color: #e57611;
}

.toolbar-md-success .bar-button-outline-md-primary .button-effect {
    background-color: #e57611;
}

.toolbar-md-success .bar-button-solid-md-primary.activated {
    background-color: #e57611;
}

.toolbar-md-info .bar-button-outline-md-primary {
    border-color: #e57611;
    color: #e57611;
}

.toolbar-md-info .bar-button-outline-md-primary .button-effect {
    background-color: #e57611;
}

.toolbar-md-info .bar-button-solid-md-primary.activated {
    background-color: #e57611;
}

.toolbar-wp-primary .bar-button-outline-wp-primary {
    border-color: #e57611;
    color: #e57611;
}

.toolbar-wp-primary .bar-button-outline-wp-primary.activated {
    background-color: #e57611;
}

.toolbar-wp-primary .bar-button-solid-wp-primary.activated {
    background-color: #e57611;
}

.bar-button-outline-wp-primary {
    border-color: #e57611;
    color: #e57611;
}

.bar-button-outline-wp-primary.activated {
    background-color: #e57611;
}

.bar-button-solid-wp-primary.activated {
    background-color: #e57611;
}

.toolbar-wp-secondary .bar-button-outline-wp-primary {
    border-color: #e57611;
    color: #e57611;
}

.toolbar-wp-secondary .bar-button-outline-wp-primary.activated {
    background-color: #e57611;
}

.toolbar-wp-secondary .bar-button-solid-wp-primary.activated {
    background-color: #e57611;
}

.toolbar-wp-danger .bar-button-outline-wp-primary {
    border-color: #e57611;
    color: #e57611;
}

.toolbar-wp-danger .bar-button-outline-wp-primary.activated {
    background-color: #e57611;
}

.toolbar-wp-danger .bar-button-solid-wp-primary.activated {
    background-color: #e57611;
}

.toolbar-wp-light .bar-button-outline-wp-primary {
    border-color: #e57611;
    color: #e57611;
}

.toolbar-wp-light .bar-button-outline-wp-primary.activated {
    background-color: #e57611;
}

.toolbar-wp-light .bar-button-solid-wp-primary.activated {
    background-color: #e57611;
}

.toolbar-wp-gray .bar-button-outline-wp-primary {
    border-color: #e57611;
    color: #e57611;
}

.toolbar-wp-gray .bar-button-outline-wp-primary.activated {
    background-color: #e57611;
}

.toolbar-wp-gray .bar-button-solid-wp-primary.activated {
    background-color: #e57611;
}

.toolbar-wp-dark .bar-button-outline-wp-primary {
    border-color: #e57611;
    color: #e57611;
}

.toolbar-wp-dark .bar-button-outline-wp-primary.activated {
    background-color: #e57611;
}

.toolbar-wp-dark .bar-button-solid-wp-primary.activated {
    background-color: #e57611;
}

.toolbar-wp-warning .bar-button-outline-wp-primary {
    border-color: #e57611;
    color: #e57611;
}

.toolbar-wp-warning .bar-button-outline-wp-primary.activated {
    background-color: #e57611;
}

.toolbar-wp-warning .bar-button-solid-wp-primary.activated {
    background-color: #e57611;
}

.toolbar-wp-success .bar-button-outline-wp-primary {
    border-color: #e57611;
    color: #e57611;
}

.toolbar-wp-success .bar-button-outline-wp-primary.activated {
    color: #fff;
    background-color: #e57611;
}

.toolbar-wp-success .bar-button-solid-wp-primary.activated {
    color: #fff;
    background-color: #e57611;
}

.toolbar-wp-info .bar-button-outline-wp-primary {
    border-color: #e57611;
    color: #e57611;
}

.toolbar-wp-info .bar-button-outline-wp-primary.activated {
    background-color: #e57611;
}

.toolbar-wp-info .bar-button-solid-wp-primary.activated {
    background-color: #e57611;
}









/** Header color */
/*.toolbar-background-md,
.toolbar-background-ios,
.toolbar-background-wp {
    background: linear-gradient(to bottom,#4b9621 0%,#5fc02b 95%);
}*/

/* primary: 1a9e9f
primary:hover 157d7e

/* Bottom tabs selected color */
.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon,
.core-tabs-bar .tabs-md a[aria-selected=true].tab-slide .tab-button-icon,
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon,
.core-tabs-bar .tabs-ios a[aria-selected=true].tab-slide .tab-button-icon,
.tabs-wp .tab-button[aria-selected=true] .tab-button-icon,
.tabs-wp .core-tabs-bar a[aria-selected=true].tab-slide .tab-button-icon,
.core-tabs-bar .tabs-wp a[aria-selected=true].tab-slide .tab-button-icon {
    color: #EBEFF8;
}

/* Tabs color */
/*ion-app.app-root .core-tabs-bar .slides a.tab-slide[aria-selected=true] {
    color: #1a9e9f !important;
    border-bottom-color: #1a9e9f !important;
}*/

ion-app.app-root .core-tabs-bar a.tab-slide[aria-selected=true]:hover {
    color: #157d7e !important;
    border-bottom-color: #157d7e !important;
}
/* Loading spinner and refresher */
.refresher-refreshing .spinner-crescent circle,
.refresher-refreshing .spinner-ios line,
.refresher-refreshing .spinner-ios-small line {
    stroke: #1a9e9f;
}

/* Buttons */
.fab-md.activated,
.fab-ios.activated,
.fab-wp.activated {
    background-color: #157d7e;
}

.button-md.button-block:hover:not(.disable-hover),
.button-ios.button-block:hover:not(.disabled-hover),
.button-wp.button-block:hover:not(.disabled-hover) {
    background-color: #157d7e;
}

.button-outline-md,
.button-outline-ios,
.button-outline-wp {
    border-color: #1a9e9f;
    color: #1a9e9f;
}

.button-clear-md,
.button-clear-ios,
.button-clear-wp {
    background-color: transparent;
    color: #1a9e9f;
}

.radio-md .radio-checked,
.radio-ios .radio-checked,
.radio-wp .radio-checked {
    color: #1a9e9f;
    border-color: #1a9e9f;
}

.toggle-md.toggle-checked .toggle-icon,
.toggle-ios.toggle-checked .toggle-icon,
.toggle-wp.toggle-checked .toggle-icon {
    background-color: #34b8b9;
}
.toggle-md.toggle-checked .toggle-inner,
.toggle-ios.toggle-checked .toggle-inner,
.toggle-wp.toggle-checked .toggle-inner {
    background-color: #1a9e9f;
}

.alert-md .alert-button,
.alert-ios .alert-button,
.alert-wp .alert-button {
    color: #1a9e9f;
}

.item-radio.item-md ion-label,
.item-radio.item-ios ion-label,
.item-radio.item-wp ion-label{
    color: #1a9e9f;
}

.radio-md .radio-inner,
.radio-ios .radio-inner,
.radio-wp .radio-inner {
    background-color: #1a9e9f;
}

ion-app.app-root .core-button-select,
ion-app.app-root ion-select.core-button-select .select-icon .select-icon-inner,
ion-app.app-root ion-select.core-button-select,
ion-app.app-root ion-select.core-button-select .select-icon .select-icon-inner {
    color: #1a9e9f;
}

ion-app.app-root.md .button-md-light,
ion-app.app-root.ios .button-ios-light,
ion-app.app-root.wp .button-wp-light {
    color: #1a9e9f;
}
/* More icon colors */
page-core-mainmenu-more .ion-md-notifications,
page-core-mainmenu-more .ion-ios-notifications,
page-core-mainmenu-more .ion-md-notifications {
    color: yellow;
}

page-core-mainmenu-more .ion-md-stats,
page-core-mainmenu-more .ion-ios-stats,
page-core-mainmenu-more .ion-md-stats {
    color: yellow;
}

page-core-mainmenu-more .ion-md-map,
page-core-mainmenu-more .ion-ios-map,
page-core-mainmenu-more .ion-wp-map {
    color: green;
}

page-core-mainmenu-more .ion-md-folder,
page-core-mainmenu-more .ion-ios-folder,
page-core-mainmenu-more .ion-wp-folder {
    color: purple;
}

page-core-mainmenu-more .ion-md-link,
page-core-mainmenu-more .ion-ios-link,
page-core-mainmenu-more .ion-wp-link {
    color: maroon;
}

page-core-mainmenu-more .ion-md-globe,
page-core-mainmenu-more .ion-ios-globe,
page-core-mainmenu-more .ion-wp-globe {
    color: maroon;
}

page-core-mainmenu-more .ion-md-qr-scanner,
page-core-mainmenu-more .ion-ios-qr-scanner,
page-core-mainmenu-more .ion-wp-qr-scanner {
    color: orange;
}

page-core-mainmenu-more .ion-md-help-buoy,
page-core-mainmenu-more .ion-ios-help-buoy,
page-core-mainmenu-more .ion-wp-help-buoy {
    color: orange;
}

page-core-mainmenu-more .ion-md-cog,
page-core-mainmenu-more .ion-ios-cog,
page-core-mainmenu-more .ion-wp-cog {
    color: dimgray;
}

page-core-mainmenu-more .ion-md-log-out,
page-core-mainmenu-more .ion-ios-log-out,
page-core-mainmenu-more .ion-wp-log-out {
    color: red;
}

/* Dashboard */
page-core-courses-dashboard .core-courseoverview core-progress-bar,
page-core-course-section .core-course-progress {
    display:none;
}

/* Progress bar color */
ion-app.app-root core-progress-bar progress .progress-bar-fallback span,
ion-app.app-root core-progress-bar progress[value]::-webkit-progress-value {
    background-color: #1a9e9f;
}

/* Forum module */
ion-app.app-root addon-mod-forum-index .addon-forum-discussion-selected {
    border-top: 5px solid #1a9e9f;
}

/* Links */
a {
    color: #1a9e9f;
}

/*a:hover {
    color: #55ab26;
}*/

/* Badges (pills) */
.badge-md,
.badge-ios,
.badge-wp,
.badge-md-primary,
.badge-ios-primary,
.badge-wp-primary {
    color: #fff;
    background-color: #1a9e9f;
}

.badge-md-primary:hover,
.badge-ios-primary:hover,
.badge-wp-primary:hover {
    color: #fff;
    background-color: #157d7e;
}

.badge-md-secondary,
.badge-ios-secondary,
.badge-wp-secondary {
    color: #fff;
    background-color: #157d7e;
}

/* Misc */
ion-app.app-root .core-primary-selected-item,
ion-app.app-root core-split-view .split-pane-visible .split-pane-side .core-split-item-selected,
ion-app.app-root core-split-view .split-pane-visible .split-pane-side .core-split-item-selected {
    border-left: 5px solid #1a9e9f !important;
}

.item-md.item-input.input-has-focus .item-inner,
.item-md.item-input.item-input-has-focus .item-inner,
.item-ios.item-input.input-has-focus .item-inner,
.item-ios.item-input.item-input-has-focus .item-inner,
.item-wp.item-input.input-has-focus .item-inner,
.item-wp.item-input.item-input-has-focus .item-inner {
    border-bottom-color: #1a9e9f;
    box-shadow: inset 0 -1px 0 #1a9e9f;
}

ion-app.app-root page-addon-messages-discussion .addon-messages-unreadfrom,
ion-app.app-root page-addon-messages-discussion .addon-messages-unreadfrom ion-icon {
    color: #1a9e9f;
}

ion-app.app-root core-ion-tabs .tab-badge.badge {
    background-color: red;
}

ion-app.app-root .core-primary-circle:before {
    color: #1a9e9f;
}

ion-app.app-root page-core-user-profile .core-user-communication-handlers .core-user-profile-handler,
ion-app.app-root page-core-user-profile .core-user-communication-handlers .core-user-profile-handler .icon {
    background-color: #1a9e9f;
    color: #1a9e9f;
}

ion-app.app-root ion-select,
ion-app.app-root ion-select .select-icon .select-icon-inner {
    color: #1a9e9f;
}

.action-sheet-md .action-sheet-title,
.action-sheet-ios .action-sheet-title,
.action-sheet-wp, .action-sheet-title,
ion-app.app-root.md .action-sheet-md .action-sheet-selected,
ion-app.app-root.ios .action-sheet-ios .action-sheet-selected,
ion-app.app-root.wp .action-sheet-wp .action-sheet-selected{
    color: #1a9e9f;
}