{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/course-action-menus

    This template renders action menu for each course.

    Example context (json):
    {
        "isfavourite": true
    }
}}
<div class="ml-auto dropdown">
    <button class="btn btn-link btn-icon icon-size-3 coursemenubtn"
        type="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        {{#pix}} i/moremenu, core {{/pix}}
            <span class="sr-only">
                {{#str}} aria:courseactions, block_myoverview {{/str}} {{{fullname}}}
            </span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item {{#isfavourite}}hidden{{/isfavourite}}" href="#"
            data-action="add-favourite"
            data-course-id="{{id}}"
            aria-controls="favorite-icon-{{ id }}-{{ uniqid }}"
            >
            <span class="text-primary">{{#pix}} i/star, core, {{#str}} favourites, block_myoverview {{/str}} {{/pix}}</span>
            {{#str}} addtofavourites, block_myoverview {{/str}}
            <div class="sr-only">
                {{#str}} aria:addtofavourites, block_myoverview {{/str}} {{{fullname}}}
            </div>
        </a>
        <a class="dropdown-item {{^isfavourite}}hidden{{/isfavourite}}" href="#"
            data-action="remove-favourite"
            data-course-id="{{id}}"
            aria-controls="favorite-icon-{{ id }}-{{ uniqid }}"
            >
            <span class="text-primary">{{#pix}} t/block, core, {{#str}} favourites, block_myoverview {{/str}} {{/pix}}</span>
            {{#str}} removefromfavourites, block_myoverview {{/str}}
            <div class="sr-only">
                {{#str}} aria:removefromfavourites, block_myoverview {{/str}} {{{fullname}}}
            </div>
        </a>

        {{#allowtogglevisibility}}

            <a class="dropdown-item {{^visible}}hidden{{/visible}}" href="#"
                data-action="makeinvisible-course"
                data-course-id="{{id}}"
                aria-controls="invisible-icon-{{ id }}-{{ uniqid }}"
                >
                {{#pix}} i/show, core, {{#str}} makeinvisible, theme_receptic {{/str}} {{/pix}}
                {{#str}} makeinvisible, theme_receptic {{/str}}
            </a>
            <div class="sr-only">
                {{#str}} aria:hidecourse, block_myoverview, {{fullname}} {{/str}}
            </div>


            <a class="dropdown-item {{#visible}}hidden{{/visible}}" href="#"
               data-action="makevisible-course"
               data-course-id="{{id}}"
               aria-controls="visible-icon-{{ id }}-{{ uniqid }}">
                {{#pix}} i/hide, core, {{#str}} makevisible, block_myoverview {{/str}} {{/pix}}
                {{#str}} makevisible, theme_receptic {{/str}}
            </a>
            <div class="sr-only">
                {{#str}} aria:showcourse, block_myoverview, {{fullname}} {{/str}}
            </div>

            {{#visible}}
                <a class="dropdown-item hidden" href="{{togglevisibilityurl}}?action=hide&courseid={{id}}&sesskey={{sesskey}}">
                    {{#pix}} i/hide, core, {{#str}} hidden, block_myoverview {{/str}} {{/pix}}
                    Rendre invisible php
                </a>
                <div class="sr-only">
                    {{#str}} aria:hidecourse, block_myoverview, {{fullname}} {{/str}}
                </div>
            {{/visible}}
            {{^visible}}
                <a class="dropdown-item hidden" href="{{togglevisibilityurl}}?action=show&courseid={{id}}&sesskey={{sesskey}}">
                    {{#pix}} i/show, core, {{#str}} hidden, block_myoverview {{/str}} {{/pix}}
                    Rendre visible php
                </a>
                <div class="sr-only">
                    {{#str}} aria:showcourse, block_myoverview, {{fullname}} {{/str}}
                </div>
            {{/visible}}
        {{/allowtogglevisibility}}
        {{#enrolid}}
            <a class="dropdown-item" href="#"
               data-action="unenrolme"
               data-enrol-id="{{enrolid}}"
               data-course-id="{{id}}"
               aria-controls="visible-icon-{{ id }}-{{ uniqid }}">
                {{#pix}} a/logout, core, {{#str}} hidden, block_myoverview {{/str}} {{/pix}}
                {{#str}} unenrolme, theme_receptic{{/str}}
            </a>
            <div class="sr-only">
                {{#str}} aria:showcourse, block_myoverview, {{fullname}} {{/str}}
            </div>
                <a class="dropdown-item hidden" href="{{unenrolurl}}">
                    {{#pix}} a/logout, core, {{#str}} unenrolme, theme_receptic{{/str}}{{/pix}}
                    {{#str}} unenrolme, theme_receptic{{/str}} php
                </a>

        {{/enrolid}}
    </div>
</div>