{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/courses-view-course-item

    This template renders the course summary (view by courses) for the myoverview block.

    Example context (json):
    {
        "fullnamedisplay": "course 3",
        "viewurl": "https://www.google.com",
        "summary": "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
    }
}}
<div class="col-lg-12">
    <div class="card m-b-1 courses-view-course-item">
        <div class="card-body course-info-container" id="course-info-container-{{id}}" data-region="course-events-container">
            <div class="d-sm-none hidden-phone">
                <div class="col-lg-10">
                    <h4 class="h5"><a href="{{viewurl}}" class="{{^visible}}dimmed{{/visible}}">{{{fullnamedisplay}}}</a>
                        {{#newitemscount}}
                            <span title="{{newitemscount}} éléments ajoutés" class="redball-count {{redballscountclass}}">{{newitemscount}}</span>
                        {{/newitemscount}}
                        {{updateditemscount}}
                        {{#updateditemscount}}
                            <span title="{{updateditemscount}} contenus modifiés" class="orangeball-count {{rorangeballscountclass}}">{{updateditemscount}}</span>
                        {{/updateditemscount}}
                    </h4>
                </div>
            </div>
<div class="media">
    <div class="media-body">
        <h4 class="h5">
            <a href="{{viewurl}}" class="{{^visible}}dimmed{{/visible}}">{{{fullnamedisplay}}}</a>
            {{#allowtogglevisibility}}
                {{#visible}}
                    <a href="{{togglevisibilityurl}}?action=hide&courseid={{id}}&sesskey={{sesskey}}"><i class="icon fa fa-eye fa-fw togglevisibility" aria-hidden="true" title="{{#str}}hide{{/str}}" aria-label="{{#str}}hide{{/str}}"></i></a>
                {{/visible}}
                {{^visible}}
                    <a href="{{togglevisibilityurl}}?action=show&courseid={{id}}&sesskey={{sesskey}}"><i class="icon fa fa-eye-slash fa-fw togglevisibility" aria-hidden="true" title="{{#str}}show{{/str}}" aria-label="{{#str}}show{{/str}}"></i></a>
                {{/visible}}
            {{/allowtogglevisibility}}
            {{#newitemscount}}
                <span title="{{newitemscount}} éléments ajoutés" class="redball-count {{redballscountclass}}">{{newitemscount}}</span>
            {{/newitemscount}}
            {{#updateditemscount}}
                <span title="{{updateditemscount}} contenus modifiés" class="orangeball-count {{orangeballscountclass}}">{{updateditemscount}}</span>
            {{/updateditemscount}}
        </h4>
    </div>
    {{#unenrolurl}}
        <div class="media-right">
            <a href="{{unenrolurl}}">
                <i title="{{#str}}unenrolme, theme_receptic{{/str}}" style="font-size:large;" class="fa fa-user-times"></i>
            </a>
        </div>
    {{/unenrolurl}}
</div>
            <div class="d-sm-none visible-phone">

                <div class="col-lg-11 pl-0">
                    <h4 class="h5">
                        <a href="{{viewurl}}" class="{{^visible}}dimmed{{/visible}}">{{{fullnamedisplay}}}</a>
                        {{#allowtogglevisibility}}
                        {{#visible}}
                            <a href="{{togglevisibilityurl}}?action=hide&courseid={{id}}&sesskey={{sesskey}}"><i class="icon fa fa-eye fa-fw togglevisibility" aria-hidden="true" title="{{#str}}hide{{/str}}" aria-label="{{#str}}hide{{/str}}"></i></a>
                        {{/visible}}
                        {{^visible}}
                            <a href="{{togglevisibilityurl}}?action=show&courseid={{id}}&sesskey={{sesskey}}"><i class="icon fa fa-eye-slash fa-fw togglevisibility" aria-hidden="true" title="{{#str}}show{{/str}}" aria-label="{{#str}}show{{/str}}"></i></a>
                        {{/visible}}
                        {{/allowtogglevisibility}}
                        {{#newitemscount}}
                            <span title="{{newitemscount}} éléments ajoutés" class="redball-count {{redballscountclass}}">{{newitemscount}}</span>
                        {{/newitemscount}}
                        {{#updateditemscount}}
                            <span title="{{updateditemscount}} contenus modifiés" class="orangeball-count {{orangeballscountclass}}">{{updateditemscount}}</span>
                        {{/updateditemscount}}
                        {{#unenrolurl}}

                                <a href="{{unenrolurl}}">
                                    <i title="{{#str}}unenrolme, theme_receptic{{/str}}" style="font-size:large;" class="fa fa-sign-out"></i>
                                </a>

                        {{/unenrolurl}}
                    </h4>
                </div>
                {{#unenrolurl}}
                    <div class="col-lg-1 mdl-right">
                        <a href="{{unenrolurl}}">
                            <i title="{{#str}}unenrolme, theme_receptic{{/str}}" style="font-size:large;" class="fa fa-sign-out"></i>
                        </a>
                    </div>
                {{/unenrolurl}}
            </div>

<div class="col-lg-12">
{{< block_myoverview/course-event-list-alt }}
{{$limit}}10{{/limit}}
{{$offset}}0{{/offset}}
{{$courseid}}{{id}}{{/courseid}}
{{/ block_myoverview/course-event-list-alt }}
</div>

        </div>
    </div>
</div>
