#page-admin-tool-customlang-edit {
    .mform.filterform {
        width: 100%;
        .fitem .felement {
            margin-left: 0;
        }
    }
    .buttonsbar input[type=submit] {
        margin-right: .5rem;
    }
}