/**
 * Handle toggle blocks functionality.
 */

// Hide blocks icon must be hidden when blocsk are displayed.
.showblocks {
    display: none;
}

.blocks-hidden {
    [data-region="blocks-column"] {
        display: none;
    }
    // Main content must take full room when blocks are hidden.
    #region-main-settings-menu.has-blocks,
    #region-main.has-blocks {
        width: 100%;
    }
    // Show blocks icon must be displayed when blocks are hidden.
    .showblocks {
        display: block;
    }
    // Hide blocks icon must be hidden when blocks are hidden.
    .hideblocks {
        display: none;
    }
}
#region-main-settings-menu.has-blocks,
#region-main.has-blocks {
    width: 100%;
}

// Add block button.
.add_block_button {

    a {
        width: 100%;
        margin-bottom: 0.5rem;
    }
}

/**
 * Blocks styling.
 */
.block-region .block {
    border-style: solid;
    border-width: 0 0 0 6px;
    border-color: $gray-700;

    .card-body {
        box-shadow: 1px 2px 3px 0 $gray-500;
        padding: 1rem .5rem;

        .block-control-actions {
            /*padding-right: 0.5rem;*/
        }
        .block_header {
            border-bottom: 1px solid #ced4da;
            padding-botto: .5rem;
        }
        .card-title {
            /*border-bottom: 1px solid $gray-400;*/
            color: $headings-color;
            font-size: 1.1rem;
            text-transform: none;

            /*padding-bottom: ($spacer/2);
            margin-left: .5rem;
            margin-right: .5rem;*/
            /*padding-left: .5rem;*/
        }
        .card-title:before {
            font-family: FontAwesome;
            font-size: 1rem;
            color: $gray-700;
            margin-right: 0.5rem;
            text-align: center;
            /*float: left;*/
            padding-top: .2rem;
        }
        h5:before {
            font-family: FontAwesome;
        }
        .content {
            padding: 4px 1rem;
            h5:before {
                content: "";
            }
        }
        .action-menu .menubar {
            > .action-menu-item .icon.fa-arrows {
                margin: 0;
            }
            .action-menu-trigger .dropdown-toggle .icon {
                margin: 0;
                margin-left: .225rem;
            }
        }
    }
    &.block_myoverview {
        border: none;
        .card-body {
            box-shadow: none;
            .course-info-container {
                padding: .75rem 1rem;
            }
        }
        h5:before {
            content: "\f1e5";
        }
        .list-group-item:first-child {
            border-radius: 0;
        }
        .list-group-item:last-child {
            border-radius: 0;
        }
        [data-action="view-more"]:disabled,
        [data-action="more-courses"]:disabled {
            display: none;
        }
        .add_course_button,
        .enrolme_button {
            text-align: right;
        }
        .event-icon img {
            filter: grayscale(100%);
        }
        .courses-view-course-item {
            height: auto;
            border: 1px solid #ddd;
        }
    }
    &.block_calendar_month h5:before,
    &.block_calendar_upcoming h5:before {
        content: "\f073";
    }

    &.block_recent_activity h5:before {
        content: "\f017";
    }

    &.block_settings h5:before {
        content: "\f085";
    }

    &.block_glossary_random h5:before {
        content: "\f15d";
    }

    &.block_login h5:before {
        content: "\f090";
    }

    &.block_news_items h5:before {
        content: "\f0a1";
    }

    &.block_private_files h5:before {
        content: "\f07b";
    }

    &.block_admin_bookmarks h5:before {
        content: "\f02e";
    }

    &.block_messages h5:before {
        content: "\f0e0";
    }

    &.block_navigation h5:before {
        content: "\f0e8";
    }

    &.block_participants h5:before {
        content: "\f0c0";
    }

    &.block_search_forums h5:before {
        content: "\f0e6";
    }

    &.block_activity_results h5:before {
        content: "\f080";
    }

    &.block_online_users h5:before {
        content: "\f1eb";
    }

    &.block_course_overview h5:before {
        content: "\f19d";
    }

    &.block_mycobraglossary h5:before {
        content: "\f15d";
    }

    &.block_theme_selector h5:before {
        content: "\f1fc";
    }
    &.block_badges h5:before {
        content: "\f132";
    }
    .minicalendarblock {
        caption {
            padding-bottom: 0;
            padding-top: 1.5rem;
        }
    }

    .minicalendar, .minicalendarblock .minicalendar.calendartable {
        td {
            border: 1px solid $gray-500;
        }
        .content {
            padding: 4px 0.5rem;
        }
        th > abbr[title]{
            border-bottom: 1px solid $gray-500;
        }
        td:nth-child(even) {
            background-color: $gray-300;
            &.calendar_event_course {
                background-color: $calendarEventCourseColor;
            }
            &.calendar_event_global {
                background-color: $calendarEventGlobalColor;
            }
            &.calendar_event_group {
                background-color: $calendarEventGroupColor;
            }
            &.calendar_event_user {
                background-color: $calendarEventUserColor;
            }
        }

        td.today {
            background-color: $gray-800;
            color: $white;
            a {
                color: $white;
                font-weight: bold;
            }
            .calendar-event-panel {
                color: $gray-800;
            }
        }
    }
    .calendar-event-panel {
        background-color: $gray-300;
        border: 1px solid $gray-500;
        .yui3-overlay-content {
            margin-bottom: 0;
        }
    }
    h5 {
        color: $success;
    }
}

/**
 * Navigation.
 */
.block_navigation,
.block_settings {
    .block_tree .tree_item {
        margin: ($spacer/2) 0;
    }
}


#sidepreopen-control,
[data-region="blocks-column"] {
    -webkit-transition: right .5s ease, left .5s ease;
    -moz-transition: right .5s ease, left .5s ease;
    -o-transition: right .5s ease, left .5s ease;
    transition: right .5s ease, left .5s ease;

    .dropdown-menu {
        min-width: 245px;

        .dropdown-item {
            white-space: initial;
        }
    }

    .card-body .content {
        h3 {
            font-size: 1.143rem;
            font-weight: 600;
            text-transform: uppercase;
            border-top: 1px dashed $headings-color;
            padding-top: 4px;
            margin-top: 10px;
        }
    }
}

#sidepreopen-control {
    background-color: $primary;
    position: fixed;
    right: -15px;
    top: $drawer-position-top +20px;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    padding: .4rem 0 0 .6rem;
    cursor: pointer;

    &:before {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f053";
    }

    &:hover {
        box-shadow: 0 0 6px $primary;
    }
}

body.editing #sidepreopen-control {
    top: 193px;
}

body.editing.empty-region-side-pre.drawer-open-right #sidepreopen-control {
    padding-left: 1rem;
}

[data-region="blocks-column"] {
    width: 280px;

    position: fixed;
    top: $drawer-position-top;
    right: -280px;
    height: calc(100% - #{$drawer-position-top});
    overflow-y: scroll;
    z-index: 999;
    padding-right: 2rem;
    padding-top: 20px;

    &.blocksbelow {
        position: relative;
        width: 100%;
        top: 0;
        right: 0;
        padding: 0;
    }
}

body.drawer-open-right {
    #sidepreopen-control {
        right: 265px;

        &:before {
            content: "\f054";
        }
    }

    [data-region="blocks-column"] {
        right: 0;

        /*aside.block {
            border: none;
            border-radius: 0;
            -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
            box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
        }*/
    }
}
