// Position warning messages.
.notifytiny {
    margin-top: 150px;
}

#region-main {
    background-color: $white;
}

#page-header .card {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    margin-top: .5rem;
}

.path-my #region-main > .card {
    box-shadow: 1px 2px 3px 0 #ccc;
}

.path-my #region-main .card .card-body {
    padding: 1rem;
    min-height: 0;
    .car-block {
        padding: 0;
    }
}

/* Modals */
.moodle-dialogue:focus {
    outline: none;
}
.moodle-dialogue .confirmation-buttons {
    text-align: center;
}

.moodle-dialogue .confirmation-buttons .btn {
    margin-bottom: .5rem;
}

.moodle-dialogue-base .moodle-dialogue-wrap.moodle-dialogue-content,
.user-enroller-panel .uep-wrap {
    border-radius: 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-color: $gray-700;
    border-width: 0 0 0 6px;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd,
.user-enroller-panel .uep-wrap .uep-header {
    color: $success;
    font-family: $headings-font-family;
    text-align: center;
}

.moodle-dialogue-base button.closebutton,
.user-enroller-panel .uep-header .close {
    opacity: 1;
    padding-top: .4rem;
}

.moodle-dialogue-base .closebutton::after,
.user-enroller-panel .uep-header .close:after {
    font-family: FontAwesome;
    content: "\f00d";
    color: $primary;
}

.user-enroller-panel .uep-header .close {
    color: #fff;
}

.user-enroller-panel .uep-header .close:hover {
    opacity: .5;
}

.modchooser h5.modal-title {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5;
}

.choosercontainer #chooseform .submitbuttons {
    text-align: center;
}

.choosercontainer #chooseform .option .icon {
    height: 1.5rem;
    width: 1.5rem;
    filter: grayscale(100%);
}

.modchoosercontainer .optionicon .icon {
    filter: grayscale(1);
}

.uep-header h2,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd h1 {
    font-size: 1.5rem;
}

.uep-content.modal-body {
    padding: 0;
}
.uep-content .uep-controls {
    background-color: #efefef;
    padding: 1rem;
    border-bottom: 1px solid #bbb;
}

.uep-content .uep-search-results .totalusers {
    background-color: #efefef;
    padding: 5px;
    border-bottom: 1px solid #bbb;
    font-size: .8rem;
    font-weight: bold;
    text-align: center;
}

.uep-content .uep-search-results .users {
    font-size: .9rem;
}

.helpmodal {
    text-align: justify;
    /* Set font-size to normal size as the modals inherit the font size from the element they are placed in.
     * This is not intended and so we force the font size to be the normal size. */
    font-size: $font-size-base;
    .modal-body {
        /* This is needed to display the text within the modal window as the help button is placed in
        in a span with the class text-nowrap. */
        white-space: normal !important; /* stylelint-disable declaration-no-important */
        ul {
            padding-left: 1.5rem;
        }
    }
}

/*
 * Help icons.
 */
.help-icon {
    margin-bottom: .2rem;
    &:before {
        font-family: FontAwesome;
        content: "\f059";
        color: $primary;
        padding-left: .5rem;
        font-size: 1.2rem;
    }
}

h2 .help-icon:before {
    font-size: 1.8rem;
    padding-left: 1rem;
}

.help-icon:hover,
.help-icon:hover:before,
.help-icon:focus,
.help-icon:focus:before {
    text-decoration: none;
    color: $success;
    outline: none;
}

.dropdown-item .icon {
    vertical-align: baseline;
}

ul {
    padding-left: 1.5rem;
}

div.editor_atto_toolbar button .icon {
    color: $gray-700;
}

.media-left {
    padding-right: 0;
}

.video-js .vjs-big-play-button {
    top: 40%;
    left: 40%;
}

.video-js {
    border: 1px solid #ddd;
}

.mobiletheme .nomobile {
    display: none;
}

.fp-dlg-buttons button {
    margin-bottom: .5rem;
}

// Notifications.
#page-login-index #user-notifications .alert.alert-block {
    margin-top: 2rem;
    margin-bottom: 0;
}

#page-login-index {
    .loginpagepanel {
        min-height: 500px;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);
    }
    #accordion {
        .card-header {
            background-color: white;
            border: none;
        }
        .card-body {
            padding-top: 0;
        }
        a.logintoggle {
            float: left;
            margin: 1px 3px 3px;
            padding: 2px 18px 2px 1.5rem;
            background-repeat: no-repeat;
            background-position: left center;
            cursor: pointer;
            color: $body-color;
            &[aria-expanded="false"] {
                background-image: url([[pix:moodle|t/collapsed]]);
            }
            &[aria-expanded="true"] {
                background-image: url([[pix:moodle|t/expanded]]);
            }
        }

    }
}

.connectbox {
    padding: 0.5rem;
    border: 3px solid $success;
}


#page-footer a {
    color: $footer-link-color;
    text-decoration: none;
}

.moodlecredits img.icon {
    margin-bottom: .625rem;
    width: 75px;
    height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.path-calendar .maincalendar .calendar-controls .current,
.h3,
.h4,
.h5,
.h6 {
    color: $headings-color;
}

#page.container-fluid {
    padding: 0;
    @include media-breakpoint-up(md) {
        padding: 0 .5rem;
    }
    /*@include media-breakpoint-up(md) {
        padding-right: 2 * $spacer;
    }*/
    @include media-breakpoint-down(sm) {
        header > .pt-3 {
            padding-top: 0 !important;
            .card {
                margin-top: 0;
            }
        }
    }
}

body.drawer-open-right #page.container-fluid {
    @include media-breakpoint-up(md) {
        padding-right: (1.5 * $spacer);
    }
}

div::-webkit-scrollbar,
section::-webkit-scrollbar {
    width: 7px;
}

div::-webkit-scrollbar-track,
section::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
}

div::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb {
    background-color: $primary;
    outline: 1px solid $primary;
}

/*.badge {
    @extend .tag;
    @include tag-variant($tag-default-bg);
    @include border-radius($font-size-root / 2);
}

.badge-success {
    @include tag-variant($tag-success-bg);
}

.badge-info {
    @include tag-variant($tag-info-bg);
}

.badge-warning {
    @include tag-variant($tag-warning-bg);
}

.badge-important {
    @include tag-variant($tag-danger-bg);
}*/

.white {
    color: $white;
}

body.editmodeinnavbar.editing {
    &.path-admin {
        #page-header {
            .card-body {
                &.singlebutton {
                    display: none;
                }
            }
        }
    }
}

.loginpanelbg {
    background-color: $gray-100;
}

.path-my {
    #region-main-box,
    #page-header > div {
        /*padding-left: 25px;*/
        .singlebutton {
            padding-top: .75rem;
        }

    }
}