// Styling depending on edit mode
body:not(.editing) .course-content ul.topics li.section .left.side,
body:not(.editing) .course-content ul.weeks li.section .left.side {
    display: none;
}

body.editing .course-content ul.topics li.section .left .icon.spacer,
body.editing .course-content ul.weeks li.section .left .icon.spacer {
    width: 0;
}

body.editing .collapsible-actions {
    margin-top: 1rem;
}

body.editing .course-content .summarytext {
    margin-left: 4rem;
}

.course-content {
    ul.topics,
    ul.weeks {
        li.section {
            padding: 0;
            .left {
                padding: 0;
                &.side {
                    margin-top: .6rem;
                    span.section-handle > .icon {
                        margin-left: .5rem;
                    }
                }
            }
            .content {
                padding: .5rem 0;
            }
            &.main,
            &.main:last-child {
                border-width: 0 0 1px;
                border-style: solid;
                border-color: #ddd;
            }
            &.hidden .sectionname > span {
                margin-left: 0;
                > span > a {
                    color: $gray-light;
                }
            }
            &.current {
                background-color:  $gray-lightest;
                filter: sepia(15%);
                border-left: 2px solid $brand-primary;
                &:before {
                    border: none;
                }
            }
            &:target {
                padding-top: 160px !important; /* stylelint-disable declaration-no-important */
                margin-top: -130px !important; /* negative fixed header height */
            }
            &:first-of-type:target {
                margin-top: -30px !important;
            }
            h3.sectionname {
                font-size: 1.5rem;
                padding-top: 3px;
                float: left;
            }
            ul.section {
                padding-left: 1rem;
                li.activity {
                    padding-left: 0;
                }
                .fp-icon .icon {
                    filter: grayscale(100%);
                }
            }
        }
    }
    // Expand all, collapse all.
    .collapsible-actions {
        a {
            padding-left: 20px;
            &.expandall {
                background: url([[pix:moodle|t/collapsed]]) 2px center no-repeat;
            }
            &.collapseall {
                background: url([[pix:moodle|t/expanded]]) 2px center no-repeat;
            }
        }

    }
    #changenumsections {
        padding: 1rem 0;
    }

    #section-0 .section-summary-activities {
        display:none;
    }
    .section-summary-activities .activity-count {
        font-size: .875rem;
        margin: 3px;
        white-space: nowrap;
        display: inline-block;
        color: $gray;
    }
    a.sectiontoggle {
        float: left;
        margin: 1px 3px 3px;
        padding: 2px 18px 2px 0;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        color: #fff;
        &[aria-expanded="false"] {
            background-image: url([[pix:moodle|t/collapsed]]);
        }
        &[aria-expanded="true"] {
            background-image: url([[pix:moodle|t/expanded]]);
        }
    }
    .section-modchooser {
         padding: 0 6px;
    }
    .summarytext {
        margin-left: 2rem;
    }
    .sectiontoggle ~ .section-summary-activities {
        display: none;
    }
    .sectiontoggle.collapsed ~ .section-summary-activities {
        display: block;
    }
    .collapsing {
        -webkit-transition: none;
        transition: none;
    }
}

/* page-course-index : list of all courses grouped by collapsible categories */
.course_category_tree {
    .category {
        > .info {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            margin: 3px 0;
            padding-top: 3px;
            h3.categoryname {
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
    }
        .courses {
            .coursebox {
                padding: 0;
                &.collapsed {
                    padding: 0;
                }
                > .info >.coursename a {
                    background: none;
                    &:before {
                        font-family: FontAwesome;
                        content: "\f19d";
                        color: #000000;
                        padding-right: 0.5rem;
                        text-decoration: none;
                    }
                }
                .moreinfo {
                    float: left;
                    .fa-info:before {
                        content: "\f05a";
                    }
                }
                .enrolmenticons {
                    display: none;
                    float: right;
                    padding: 3px 0;
                }
                .content .teachers {
                    margin: 3px 5px 3px 50px;
                }
            }
        }
    //}
}

// Availability infos.
span.section_availability {
    margin-left: 1rem;
}

span.availabilityinfo:before {
    font-family: FontAwesome;
    content: "ï±";
    color: $brand-danger;
    padding-right: 5px;
    vertical-align: sub;
}

span.availabilityinfo .tag.tag-info {
    margin-top: .4rem;
}

.section .activity .availabilityinfo {
    display: block;
    margin: 0;
}

.tag-info {
    background-color: $link-hover-color;
}

.path-course-view .content > div.availabilityinfo {
    margin-left: 2rem;
}

div.availabilityinfo:before {
    font-family: FontAwesome;
    content: "\f071";
    color: $brand-danger;
    padding-right: 5px;
}

.availability-connector .label {
    font-size: 14px;
    background-color: $brand-primary;
    margin: 4px;
    margin-left: 25px;
    padding-bottom: 5px;
}

img {
    &.activityicon {
        height: 1.5rem;
        width: 1.5rem;
        filter: grayscale(100%);
    }
}

#page-mod-folder-view .fp-icon .icon {
    filter: grayscale(100%);
}

.activity .icon {
    filter: grayscale(100%);
}

#page-course-bulkcompletion,
#page-course-editdefaultcompletion,
#page-edit-tree-index {
    .modules {
        img {
            filter: grayscale(100%);
            height: 16px;
            width: 16px;
            &.icon {
                filter: grayscale(0%);
            }
        }
    }
}

.import-course-selector {
    .ics-search {
        input {
            margin-bottom: .5rem;
        }
    }
}

#page-grade-edit-tree-index {
    .generaltable td {
        padding: .5rem;
    }
    .setup-grades img.icon {
        filter: grayscale(100%);
    }
}

.path-grade #choosepluginreport {
    margin-bottom: .5rem;
}
