// Styling depending on edit mode
.course-content {
    > ul {
        li.section {
            &:target {
                padding-top: 160px !important; /* stylelint-disable declaration-no-important */
                margin-top: -130px !important; /* negative fixed header height */
            }
            &:first-of-type:target {
                margin-top: -30px !important;
            }
        }
    }
}

.course-content {
    ul.topics,
    ul.weeks {
        li.section {
            padding: 0;
            .left {
                padding: 0;
                &.side {
                    margin-top: .825rem;
                    span.section-handle > .icon {
                        margin-left: .5rem;
                    }
                }
            }
            .content {
                padding: .5rem 0;
                .summarytext {
                    margin: .5rem 1.625rem;
                }
            }
            &.main,
            &.main:last-child {
                border-width: 0 0 1px;
                border-style: solid;
                border-color: #ddd;
            }
            &.hidden a span.sectionname {
                margin-left: 0;
                color: $gray-600;
            }
            &.hidden .section-title {
                color: $gray-600;
            }
            &.current {
                background-color: $forsepia;
                filter: sepia($sepiaratio);
                border-left: 2px solid $primary;
                &:before {
                    border: none;
                }
            }
            &:target {
                padding-top: 160px !important;
                margin-top: -130px !important;
            }
            &:first-of-type:target {
                margin-top: -30px !important;
            }
            .sectionname,
            .section-title {
                //font-size: 1.3rem;
                padding-top: 3px;
                /*float: left;*/
            }
            ul.section {
                padding-left: 1rem;
                li.activity {
                    padding-left: 0;
                }
                .fp-icon .icon {
                    filter: grayscale(100%);
                }
            }
        }
    }

    #changenumsections {
        padding: 1rem 0;
    }


    a.sectiontoggle {
        /*float: left;*/
        margin: 1px 3px 3px;
        padding: 2px 18px 2px 0;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        /*color: #fff;*/
        font-size: 1.5rem;
        font-family: $headings-font-family;
        &[aria-expanded="false"] {
            background-image: url([[pix:moodle|t/collapsed]]);
            background-position: left 50%;
            padding-left: 1rem;
        }
        &[aria-expanded="true"] {
            background-image: url([[pix:moodle|t/expanded]]);
            background-position: left 55%;
            padding-left: 1rem;
        }
        &:hover {
            text-decoration: none;
        }
        .sectionname {

            &:hover {
                text-decoration: underline;
            }
        }
    }
    .section-modchooser {
        padding: 0 6px;
    }
    div.section_availability {
        margin-left: .5rem;
    }


    // Use theme color.
    ul.collapsibletopics,
    ul.collapsibleweeks {
        li.section {
            .sectionname {
                color: $primary;
            }
            &.hidden {
                .sectiontoggle {
                    color: $gray-600;
                }
            }
            &#section-0 h3.sectionname {
                padding-left: 3rem;
            }
            &.current {
                background-color: $forsepia;
                filter: sepia($sepiaratio);
                border-left: 2px solid $primary;
                &:before {
                    border: none;
                }
            }
        }
        div.section_availability {
            margin-left: .5rem;
        }

    }
}

body.editing .course-content {
    ul.topics,
    ul.weeks {
        div.section_availability {
            margin-left: 3rem;
        }
        .content .summarytext {
            margin-left: 3rem;
            margin-right: 3rem;
        }
    }
}

/* page-course-index : list of all courses grouped by collapsible categories */
.course_category_tree,
#page-course-search {
    .category {
        > .info {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            margin: 3px 0;
            padding-top: 3px;
            h3.categoryname {
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
    }
    .courses {
        .coursebox {
            padding: 0;
            &.collapsed {
                padding: 0;
            }
            > .info > .coursename a {
                background: none;
                &:before {
                    font-family: FontAwesome;
                    content: "\f19d";
                    color: #000;
                    padding-right: 0.5rem;
                    text-decoration: none;
                }
            }
            .moreinfo {
                float: left;
                .fa-info:before {
                    content: "\f05a";
                }
            }
            .enrolmenticons {
                display: none;
                float: right;
                padding: 3px 0;
            }
            .content .teachers {
                margin: 3px 5px 3px 50px;
            }
        }
    }
    //}
}

// Availability infos.
/*.course-content ul.topics div.section_availability {
    margin-left: .75rem;
}

body.editing .course-content ul.topics div.section_availability {
    margin-left: 2.25rem;
}*/

span.availabilityinfo:before {
    font-family: FontAwesome;
    content: "\f071";
    color: $danger;
    padding-right: 5px;
    vertical-align: sub;
}

span.availabilityinfo .tag.tag-info {
    margin-top: .4rem;
    background-color: $forsepia;
    filter: sepia($sepiaratio);
    color: $body-color;
    border: 2px solid $primary;
    border-radius: 0;
    text-align: left;
}

.section .activity .availabilityinfo {
    display: block;
    margin: 0;
}

.tag-info {
    background-color: $link-hover-color;
}

.availability-connector .label {
    font-size: 14px;
    background-color: $primary;
    margin: 4px;
    margin-left: 25px;
    padding-bottom: 5px;
}

img {
    &.activityicon {
        height: 1.5rem;
        width: 1.5rem;
        filter: grayscale(100%);
    }
}

#page-mod-folder-view .fp-icon .icon {
    filter: grayscale(100%);
}

.activity .icon {
    filter: grayscale(100%);
}

#page-course-bulkcompletion,
#page-course-editdefaultcompletion,
#page-edit-tree-index {
    .modules {
        img {
            filter: grayscale(100%);
            height: 16px;
            width: 16px;
            &.icon {
                filter: grayscale(0%);
            }
        }
    }
}

.import-course-selector {
    .ics-search {
        input {
            margin-bottom: .5rem;
        }
    }
}

#page-grade-edit-tree-index {
    .generaltable td {
        padding: .5rem;
    }
    .setup-grades img.icon {
        filter: grayscale(100%);
    }
}

.path-grade #choosepluginreport {
    margin-bottom: .5rem;
}

//Disable shortname fullname and category select from course edit form
#page-course-edit:not(.format-site) #id_fullname,
#page-course-edit:not(.format-site) #id_shortname,
#page-course-edit:not(.format-site) #id_category {
    pointer-events: none;
    box-shadow: none;
    max-width: 75%;
    background: $gray-200;
    background-image: none;
}

.dndupload-progress-inner {
    background-color: $primary;
}

.massaction-checkbox {
    margin-top: .25rem;
}

#region-main > .card {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .25);
}

body.settingsincourse {
    #page-header {
        /* If the setting is enabled we do not need the triangle icon, because there is no menu
         * popping up next to the cog icon. */
        .context-header-settings-menu .dropdown-toggle::after {
            display: none;
        }
    }
    &.path-user #region-main-settings-menu {
        display: none;
    }
    /* Hide the triangle down icon. */
    #region-main-settings-menu .dropdown-toggle::after {
        display: none;
    }
}