body {
    &.path-my {
        #page-header {
            display: none;
        }
    }
}

body.editmodeinnavbar.editing {
    &.path-my {
        #page-header {
            display: block;
            .card {
                box-shadow: none;
                margin-top: 0;
                .card-body {
                    padding-top: 0 !important; /* stylelint-disable-line declaration-no-important */
                    .singlebutton:last-of-type {
                        display: none;
                    }
                }
            }
        }
    }
}