body {
    &.path-my {
        #page-header {
            display: none;
        }
    }
}

.path-my {
    #region-main {
        background-color: transparent;
        border: 0;
        padding: 0;
    }

    .block-myoverview .pagination {
        justify-content: center;
    }
}

body.editmodeinnavbar.editing {
    &.path-my {
        #page-header {
            display: block;
            .card {
                box-shadow: none;
                margin-top: 0;
                .card-body {
                    padding-top: 0 !important; /* stylelint-disable-line declaration-no-important */
                    .singlebutton:last-of-type {
                        display: none;
                    }
                }
            }
        }
    }
    &.blockconfig {
        #page-header {
            display: none;
        }
        #region-main {
            background-color: $white;
            padding: 1.25rem;
            border: 1px solid $gray-300;
        }
    }
}

#groupingdropdown.btn-outline-secondary,
#sortingdropdown.btn-outline-secondary {
    color: $gray-900;
}