body {
    &.path-my {
        #page-header {
            display: none;
        }
    }
}

body.editing {
    &.path-my {
        #page-header {
            display: block;
            .card {
                box-shadow: none;
                margin-top: 0;
                .card-body {
                    padding-top: 0 !important;
                }
            }
        }
    }
}