$drawer-right-width: 355px;

#nav-drawer {
    background-color: $gray-400;
    .list-group {
        a.list-group-item {
            .fa-folder-o:before {
                content: "\f07b";
            }
            &.active {
                .icon {
                    color: $white;
                }
            }
        }
    }
}

body.drawer-open-left {
    @include media-breakpoint-up(md) {
        margin-left: $drawer-width;
    }
}
body.drawer-open-right {
    margin-right: $drawer-right-width;
    @include media-breakpoint-down(lg) {
        margin-right: 0;
    }
}