#nav-drawer {
    .list-group {
        .list-group-item {
            cursor: pointer;
            > div:before {
                font-family: FontAwesome;
                padding-right: .4rem;
            }
            > div.m-l-1:before {
                content: "\f02d";
            }
            &[data-key="myhome"] > div:before {
                content: "\f0e4";
            }
            &[data-key="bve"] > div:before {
                content: "\f05a";
                padding-right: .9rem;
            }
            &[data-key="home"] > div:before {
                content: "\f015";
            }
            &[data-key="privatefiles"] > div:before {
                content: "\f07b";
            }
            &[data-key="mycourses"] > div:before {
                content: "\f19d";
                padding-right: 0;
            }
            &[data-key="coursehome"] > div:before {
                content: "\f19d";
                padding-right: .2rem;
            }
            &[data-key="fulllistofcourses"] > div:before {
                content: "\f03a";
            }
            &[data-key="myevaluations"] > div:before {
                content: "\f164";
            }
            &[data-key="courseadmin"] > div:before {
                content: "\f013";
            }
            &[data-key="noecreatecourse"] > div:before,
            &[data-key="manualcreatecourse"] > div:before {
                content: "\f067";
            }
            &[data-key="sitesettings"] > div:before {
                content: "\f085";
            }
            &[data-key="calendar"] > div:before {
                content: "\f073";
            }
            &[data-key="participants"] > div:before {
                content: "\f0c0";
            }
            &[data-key="grades"] > div:before {
                content: "\f0ce";
            }
            &[data-key="downloadcenter"] > div:before {
                content: "\f019";
            }
        }

    }
}