.col-form-label {
    font-weight:bold;
}

.form-inline .form-check {
    padding-right: .5rem;
}

.form-group.row input[type=submit] {
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.fcontainer .form-group.row input[type=submit] {
    margin-left: 0;
}

#filterform,
#exportsettingsform {
    background-color: $gray-300;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.fitem .initialism.text-danger {
    margin-bottom: .2rem;
}

.singleselect.d-inline-block {
    margin-left: .5rem;
}

.logselecform,
.participationselectform {
    background-color: $gray-300;
    padding: 1rem;
    margin-bottom: 1.5rem;
    select {
        margin: 0 .5rem .5rem 0;
    }
    input[type=submit].btn-secondary {
        display: block;
    }
}

#livelogs-pause-button {
    margin-bottom: .5rem;
}

#page-report-participation-index {
    .participationselectform {
        input[type=submit].btn-primary {
            margin-bottom: .5rem;
        }
    }
    .singleselect.d-inline-block {
        background-color: $gray-300;
        padding: 1rem;
        margin-bottom: 1.5rem;
        margin-left: 0;
    }
    #studentsform {
        .selectbuttons input[type=button] {
            margin-right: .5rem;
        }
        #formactionselect,
        input[type=submit]{
            margin-left: .5rem;
        }
    }
}

#page-report-stats-index,
#page-admin-report-stats-index {
    .generaltable td {
        vertical-align: middle;
    }
}

#page-local-lectopt-fillininfo {
    .form-group.progCode {
        margin: 0;
    }
}

#page-course-completion {
    fieldset {
        .form-group {
            margin: 0;
        }
        .form-group:last-of-type {
            margin-bottom: 1rem;
        }
    }
}

