table.forumpost {
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    td,
    th {
        padding: .25rem;
        width: 2rem;
        &.left {
            vertical-align: top;
        }
    }
}

.path-mod-forum {
    div[data-content="forum-discussion"] {
        .singleselect.d-inline-block {
            margin-left: 0;
        }
    }
    :target > .forumpost:before {
        background: $primary;
    }
}