/* Question bank page */
#page-question-edit #displayoptions {
    background-color: #efefef;
    padding: 1rem;
}

#page-question-edit .boxaligncenter.categoryinfo {
    padding-left: 0;
    font-style: italic;
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
}

#page-question-edit .createnewquestion {
    margin: 1rem 0;
}

#page-question-edit .singlebutton button[type="submit"] {
    margin-left: 0;
    background-color: $primary;
    border-color: $primary;
    color: #fff;
}

#categoryquestions th.header {
    padding-bottom: .5rem;
    text-align: center;
    border-bottom: 2px solid #eee;
}

#categoryquestions td.creatorname,
#categoryquestions td.modifiername {
    text-align: center;
    font-size: smaller;
    line-height: 1.2em;
    padding: 5px;
}

#categoryquestions .qtype {
    width: 3rem;
}


.questionbankwindow .choosecategory label,
.questionbankwindow input[type=checkbox] {
    margin-right: .5rem;
}

#page-mod-quiz-edit input[type=checkbox] {
    margin-right: 5px;
}

#page-mod-quiz-edit .section-heading,
.path-mod-quiz #mod_quiz_navblock h3.mod_quiz-section-heading {
    font-size: 1.2rem;
    padding: .5rem 0;
}

#page-mod-quiz-edit #repaginatecommand {
    margin-right: .5rem;
}

// Style attempt page
#page-mod-quiz-attempt .que,
#page-mod-quiz-review .que,
#page-question-preview .que {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
    padding: 15px;
    background-color: #fcf8e3;
    margin-bottom: 0;
}

.que .formulation {
    background: transparent;
    border: none;
    color: #333;
}

.que .info {
    border: none;
    border-radius: 0;
}

.que .info .editquestion img {
    margin-left: 0;
}

.que .answer label {
    font-weight: normal;
}

.que .answer .ml-3 {
    margin-left: .5rem !important;
}

.que h3.no {
    font-size: 1em;
}

.que span.qno {
    font-size: 1.3em;
}

.que .outcome {
    background-color: #eee;
    margin-left: 15px;
}

#mod-quiz-navblock h3 {
    font-size: 1.2rem;
}

// Quiz module
.path-mod-quiz .mod-quiz-edit-content {
    // Force the quiz edit page to always be large enough to prevent scrolling when accessing the menu.
    margin-bottom: 10rem;
}

#page-mod-quiz-mod #id_reviewoptionshdr .col-md-3,
#page-mod-quiz-mod #id_reviewoptionshdr .col-md-9 {
    width: auto;
}
#page-mod-quiz-mod #id_reviewoptionshdr .form-group {
    float: left;
    width: 20rem;
    display: inline-block;
    min-height: 12rem;
}

#page-mod-quiz-mod #id_reviewoptionshdr .btn-link {
    line-height: 1.25;
    vertical-align: middle;
    /*margin-bottom: .1rem;*/
}
#page-mod-quiz-mod #id_reviewoptionshdr .form-inline {
    float: left;
    clear: left;
}
#page-mod-quiz-mod #id_reviewoptionshdr .form-check {
    width: 90%;
    height: 22px;
}

// Question navigation block.
.path-mod-quiz #mod_quiz_navblock {
    .qnbutton {
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        font-weight: normal;
        background-color: $primary;
        background-image: none;
        height: 40px;
        width: 30px;
        border-radius: 0;
        border: 0;
        overflow: visible;
        margin: 0 6px 6px 0;
    }

    span.qnbutton {
        cursor: default;
        background-color: $input-bg-disabled;
        color: $gray-700;
    }

    a.qnbutton:hover,
    a.qnbutton:active,
    a.qnbutton:focus {
        /*text-decoration: underline;*/
    }

    .qnbutton .thispageholder {
        border: 1px solid $gray-600;
        border-radius: 0;
        z-index: 1;
    }

    .qnbutton.thispage .thispageholder {
        border-width: 3px;
    }

    .allquestionsononepage .qnbutton.thispage .thispageholder {
        border-width: 1px;
    }

    .qnbutton.flagged .thispageholder {
        background: transparent url([[pix:theme|mod/quiz/flag-on]]) 15px 0 no-repeat;
    }

    .qnbutton .trafficlight {
        border: 0;
        background: $primary none center / 10px no-repeat scroll;
        height: 20px;
        margin-top: 20px;
        border-radius: 0 0 3px 3px;
    }

    .qnbutton.notyetanswered .trafficlight,
    .qnbutton.invalidanswer .trafficlight {
        background-color: $primary;
    }

    .qnbutton.invalidanswer .trafficlight {
        background-image: url([[pix:theme|mod/quiz/warningtriangle]]);
    }

    .qnbutton.correct .trafficlight {
        /*background-image: url([[pix:theme|mod/quiz/checkmark]]);*/
        background-color: $state-success-text;
    }

    .qnbutton.correct .trafficlight:before {
        font-family: FontAwesome;
        content: "\f00c";
        color: #fff;
    }

    .qnbutton.blocked .trafficlight {
        background-image: url([[pix:core|t/locked]]);
        background-color: $input-bg-disabled;
    }

    .qnbutton.notanswered .trafficlight,
    .qnbutton.incorrect .trafficlight {
        background-color: $state-danger-text;
    }
    .qnbutton.incorrect .trafficlight {
        /*background-image: url([[pix:theme|mod/quiz/cross]]);*/
    }

    .qnbutton.incorrect .trafficlight:before {
        font-family: FontAwesome;
        content: "\f00d";
        color: #fff;
    }

    .qnbutton.partiallycorrect .trafficlight {
        background-image: url([[pix:theme|mod/quiz/whitecircle]]);
        background-color: $state-warning-text;
    }

    .qnbutton.complete .trafficlight,
    .qnbutton.answersaved .trafficlight,
    .qnbutton.requiresgrading .trafficlight {
        background-color: $gray-600;
    }
}

#page-question-preview #page.container-fluid {
    padding: 1.5rem;
    margin-top: 0;
}

#page-question-preview .notifytiny {
    margin-top: 0;
}

#page-question-preview #previewcontrols input {
    margin-right: .5rem;
    margin-bottom: .5rem;
}

// Mod forum.
.path-mod-forum :target ~ .forumpost:before {
    background: $link-color;
}

// Mod assign.
.path-mod-assign [data-region="user-selector"] {
    [data-action="previous-user"],
    [data-action="next-user"] {
        vertical-align: middle;
    }
}

// Mod chat.
#page-mod-chat-gui_basic-index #page.container-fluid {
    margin-top: 2rem;
}

#page-mod-chat-gui_ajax-index .form-control {
    border-radius: 0;
    &:focus {
        border-color: $primary;
    }
}

// Mod choicegroup.
#page-mod-choicegroup-mod {
    #expandButton,
    #collapseButton,
    #addGroupButton,
    #removeGroupButton {
        color: #fff;
        background-color: #696969;
        border-color: #696969;
        display: inline-block;
        font-weight: 400;
        line-height: 1.25;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        border: 1px solid transparent;
        padding: .5rem 1rem;
        font-size: 1rem;
        margin-bottom: .5rem;
    }
}

.path-mod-choicegroup {
    table.choicegroups {
        margin: 0;
        th,
        td {
            vertical-align: top;
        }

    }
    table.results {
        .attemptaction input[type=checkbox] {
            margin-right: .5rem;
        }
        .image img {
            margin-top: -.5rem;
        }
    }
    .responseaction {
        text-align: left;
        label {
            margin-left: 2rem;
        }
    }
    .downloadreport button {
        margin-bottom: .5rem;
    }
}

// Mod feedback.
.path-mod-feedback {
    div.feedback_info {
        margin-left: .5rem;
    }
    h3:last-of-type {
        margin-top: 1rem;
    }
    #feedback_dragarea {
        margin-left: .5rem;
    }
}

#page-mod-feedback-edit {
    .mform.full-width-labels .fitem.row.feedback_itemlist {
        padding: 0 1rem	2rem;
        border: 1px ridge;
        margin-top: 2rem;
    }
}

/* hack pour Mireille */
.path-mod-feedback.cmid-49042.context-139086 {
    .feedback_form.mform {
        .feedback-item-multichoice,
        .feedback-item-multichoicerated {
            .col-md-3,
            .col-md-9 {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col-md-9 {
                margin: 1rem 0 1rem 2rem;
                label {
                    font-weight: 400;
                }
            }
        }
        .feedback-item-label.femptylabel {
            background-color: $gray-100;
            filter: sepia(15%);
            border: 2px solid $primary;
            padding: .25rem .4rem;
            .col-md-9 {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}

#showentrytable {
    .cell {
        vertical-align: middle;
    }
}

.feedback_form {
    .form-group {
        .col-md-3 label .icon,
        .col-md-3 span .icon {
            padding-left: .3rem;
            vertical-align: baseline;
        }
        &.feedback-item-info {
            padding-top: .5rem;
            padding-bottom: .5rem;
            margin-bottom: 0;
        }
        &.feedback-item-multichoice.multichoice-horizontal .felement {
            padding-top: .5rem;
            label {
                margin-right: 1rem;
            }
        }
        &.feedback-item-multichoice.multichoice-vertical .felement {
            margin-top: -1rem;
            label {
                margin-right: 1rem;
            }
        }
    }
}

/*#feedback_complete_form {
    .form-group {
        .col-md-3 label .icon {
            padding-left: .3rem;
            vertical-align: baseline;
        }
    }
}*/

#feedback_sendmessageform {
    .buttons input[type=button] {
        color: #fff;
        background-color: #696969;
        border-color: #696969;
        display: inline-block;
        font-weight: 400;
        line-height: 1.25;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        border: 1px solid transparent;
        padding: .5rem 1rem;
        font-size: 1rem;
        margin-bottom: .5rem;
    }
    fieldset {
        border-bottom: none;
    }
}

/* wiki */
.wikisearch form {
    input {
        float: left;
        @extend .btn-secondary;
    }
    #searchwiki {
        @extend .form-control;
        margin: 0 3px;
        width: auto;
    }
}

/* workshop */
#page-mod-workshop-allocation {
    .allocator-ui {
        .message {
            font-size: 100%;
        }
        .singlebutton button.btn.btn-secondary {
            border: none;
            background: none;
            text-decoration: underline;
            color: $primary;
            padding-top: .3rem;
        }
        &.hover {
            color: $success;
        }
    }
}