{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
     @template theme_receptic/banner

    Context inherited from theme_receptic/columns2

    Context variables required for this template:
    * config - The main config object
    * sitename - The name of the site
    * output - The core renderer for the page
    * logoleft - Is there a logo to display on the left side
    * logocenter - Is there a logo to display on the center
    * logoright - Is there a logo to display on the right side

    Example context (json):
    {
        "config": {
            "wwwroot": "Root web address"
        }
        "sitename": "Moodle",
        "output": {
            "get_left_logo_url": "//path-to-left-logo",
            "get_center_logo_url": "//path-to-center-logo",
            "get_right_logo_url": "//path-to-right-logo"
         }
    }
}}

<header role="banner" class="fixed-top brand-banner d-none d-md-block">
    {{#logoleft}}
    <a href="{{{ config.wwwroot }}}/?redirect=0" class="left-logo">
        <img src="{{output.get_left_logo_url}}" alt="{{sitename}}">
    </a>
    {{/logoleft}}
    {{#logocenter}}
        <a href="{{{ config.wwwroot }}}/?redirect=0" class="center-logo">
            <img src="{{output.get_center_logo_url}}" alt="{{sitename}}">
        </a>
    {{/logocenter}}
    {{#logoright}}
    <a href="http://www.unamur.be" class="right-logo">
        <img src="{{output.get_right_logo_url}}" alt="UNamur">
    </a>
    {{/logoright}}
</header>