


            {{#isloggedin}}
            <div class="extra-buttons pull-right">
                {{{editbutton}}}
                <div style="float:right;"><a href="#" class="toggleblocks hbl" title="{{# str}} hideblocks, theme_mwar {{/str}} ">{{# str}}blocks{{/str}} <i class="fa fa-eye fa-lg"></i></a>
                <a href="#" class="toggleblocks sbl" title="{{# str}} showblocks, theme_mwar {{/str}}">{{# str}}blocks{{/str}} <i class="fa fa-eye-slash fa-lg"></i></a></div>
<!--<div data-region="drawer-toggle">
    <span aria-expanded="true" aria-controls="blocks-drawer" data-action="toggle-drawer" data-side="right" data-preference="drawer-open-blocks">
        <span aria-hidden="true">Blocks
            <i class="fa fa-eye"></i>
        </span>
    </span>
    </div>-->
                <!--<a href="#" class="toggleblocks" title="hideblocks">{{# str}}blocks{{/str}} <i class="fa fa-eye fa-lg"></i></a>
                <a href="#" class="toggleblocks" title="showblocks">{{# str}}blocks{{/str}} <i class="fa fa-eye-slash fa-lg"></i></a>-->
            </div>
            {{/isloggedin}}
            




