{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
     @template theme_receptic/footer

    Context inherited from theme_receptic/columns2

    Context variables required for this template:
    * output - The core renderer for the page

    Example context (json):
    {
        "output": {
            "course_footer": "Course footer html content",
            "page_doc_link": "Link to documentation page",
            "logininfo": "Information on current logged in user",
            "custom_menu_flat": "custom menu rendering in footer",
            "contact_info": "HTML formatted contact information",
            "moodle_credits": "Moodle logo and 'powered_by'",
            "standard_footer_html": "Standard footer html content",
            "standard_end_of_body_html": "Standard end of body html content"
         },
         "logininfo": "Should we display logged in user info?"
    }
}}
<div id="back-to-top">
    <a class="arrow" href="#top" >▲</a>
</div>
<footer id="page-footer" class="py-3 bg-dark text-light">
    <div class="container text-center">
        <div id="course-footer">{{{ output.course_footer }}}</div>

        {{# output.page_doc_link }}
            <p class="helplink">{{{ output.page_doc_link }}}</p>
        {{/ output.page_doc_link }}

        {{#logininfo}}
            {{{ output.login_info }}}
        {{/logininfo}}

        <div class="tool_usertours-resettourcontainer"></div>

        <nav class="nav navbar-nav d-lg-none">
            {{# output.custom_menu_flat }}
                <ul class="list-unstyled pt-3">
                    {{> theme_boost/custom_menu_footer }}
                </ul>
            {{/ output.custom_menu_flat }}
        </nav>
        {{{ output.contact_info }}}
        {{{ output.moodle_credits }}}
        {{{ output.standard_footer_html }}}

        {{{ output.standard_end_of_body_html }}}
    </div>
</footer>