/**
 * University of Namur preset file.
 */

// Colors
$white: #fff !default;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue:    #1177d1 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #5cb85c !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;

$primary:       #1a9e9f !default;
$secondary:     $gray-800 !default;
$success:       #55ab26 !default;
$info:          #ad53b2 !default;
$warning:       #ff8800 !default;
$danger:        #ff4136 !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Options
$enable-rounded: false !default;

// Body
$body-bg : $gray-200;
$body-color: $gray-800 !default;

// Fonts
$font-size-base: 0.875rem !default;
//$font-size-base: 0.9375rem !default;
$headings-font-weight:   300 !default;
//$font-family-sans-serif: "Roboto", "Open Sans", sans-serif !default;
//$headings-font-family: "Roboto Condensed", "Roboto", "Open Sans", sans-serif !default;


// Breadcrumbs
$breadcrumb-padding-y:              .25rem !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-padding:           .5rem !default;
$breadcrumb-margin-bottom:          0 !default;
$breadcrumb-bg:                     transparent !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

// Alerts
$alert-border-width:                0 !default;

$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
    light: $gray-100,
    dark: $gray-800
);

// Theme addons.
$brand-banner-color: $success !default;
$brand-banner-height: 80px !default;
$drawer-position-top: $brand-banner-height + 50px;

$navbar-height:             50px !default;

// Spacing
$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$border-width: 1px !default;

// Misc colors.
$link-color: $primary !default;
$link-hover-color: $success !default;
$headings-color: $success !default;

$footer-link-color: $primary !default;
$forsepia: #f1f1f1;

// Tables
$table-bg:                      transparent !default;
$table-bg-accent:               #fafafa !default;
$table-bg-hover:                $gray-300;
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            $gray-300 !default;

// Dropdowns
$dropdown-border-color:          #e2e2e2 !default;
$dropdown-link-color:            rgba(0, 0, 0, .535) !default;

// Navbar
$navbar-light-color:                rgba(0, 0, 0, .535) !default;
$navbar-light-hover-color:          $primary !default;
$navbar-light-active-color:         $primary !default;

// Cards
$card-border-radius:       0 !default;
$card-border-color:        $gray-300 !default;

// Blocks
$blocks-column-width : 260px !default;

// Import FontAwesome.
@import "fontawesome";

// Import All of Bootstrap
@import "bootstrap";

// Import Core moodle CSS
@import "moodle";

// Import everything.
@import "main";

/**
 * Brand banner and logos.
 */


.brand-banner {
    background: linear-gradient(to bottom, $gray-lightest 0%, $gray-lightest 30%,darken($link-hover-color,5%) 31%, lighten($link-hover-color,5%) 95%);
    height: 80px;

    img {
        height: 55px;
    }

    .left-logo {
        position: absolute;
        top: 10px;
        left: 15px;
        height: 55px;
        box-shadow: 4px 4px 15px $gray-700;
    }

    .right-logo {
        position: absolute;
        top: 10px;
        right: 15px;
        height: 55px;
        box-shadow: 4px 4px 15px $gray-700;
    }
}

/**
 * Position banners, page and drawer according to screen size (brand banner for large displays).
 */
/*@media (min-width: 768px) {
    .pos-f-t-lower {
        top: 80px;
    }
}*/

@media (min-width: 768px) {
    /*#page {
        margin-top: 125px;
    }*/
    body.path-login #page {
        margin-top: 115px;
    }
}

/*@media (min-width: 768px) {
    [data-region="drawer"] {
        top: 129px;
        height: calc(100% - 129px);
    }
}*/

/**
 * Navigation bar identity.
 */
.navbar-receptic {
    background-color: $white;
    background-image: linear-gradient(to bottom, $gray-700 0%, $gray-800 100%);

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    a {
        color: $white;
        &:hover, &:focus {
            color: $gray-500;
        }
        &.dropdown-item {
            color: $gray-800;
            @include hover-focus {
                color: $gray-700;
            }
        }
    }
    .dropdown a:first-of-type > .icon {
        margin-left: 0;
    }

    .dropdown-item a {
        color: $gray-800;
        &:hover, &:focus {
            color: $gray-700;
        }
        .icon:before {
            color: $gray-800;
            &:hover, &:focus {
                color: $gray-700;
            }
        }
    }

    [data-region="drawer-toggle"] {
        .btn-secondary {
            color: $white;
            background-color: $gray-600;
            border-color: $gray-700;
            border-radius: .25rem;
            &:hover, &:focus {
                opacity: .5;
            }
        }
    }

    .navbar-nav {
        .nav-item + .nav-item {
            margin-left: $spacer;
            margin-right: $spacer;
            .userbutton {
                .avatars {
                    img {
                        margin-right: 0;
                    }
                }
                margin-left: .5rem;
            }
        }
        .nav-link {
            font-size: $font-size-base;
            text-transform: inherit;
            letter-spacing: normal;
            color: $white;
            &:hover, &:focus {
                color: $gray-500;
            }
        }

    }

    .navbar-divider {
         background-color: rgba(255,255,255,.075);
    }

    .extra-buttons {
        margin-top: .5rem;
        margin-left: 2rem;
        margin-right: 1rem;
        a {
            margin-right: 1rem;
        }
    }
    .popover-region {
        &.navlink a:hover,
        &.navlink a:focus {
            text-decoration: none;
        }
    }
    .usermenu .login {
        display: none;
    }
}

/**
 * Default color for link icons and action icons.
 */
a .icon,
span .icon {
    color: $gray-700;
}

/**
 * Buttons.
 */
.btn {
    border-radius: 0;
}
.btn-secondary, .btn-default {
    color: #fff;
    background-color: $gray-700;
    border-color: $gray-700;
}

.btn-secondary:hover, .btn-default:hover,
.btn-secondary:active, .btn-default:active,
.btn-secondary:focus, .btn-default:focus {
    background-color: $gray-800;
    border-color: $gray-800;
    color:#fff;
}

input[type=submit] {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
}

input[type=submit].btn-secondary {
    color: #fff;
    background-color: $gray-700;
    border-color: $gray-700;
}

input[type=submit].btn-secondary:hover {
    color: #fff;
    background-color: $gray-800;
    border-color: $gray-800;
}

input[type=submit]:disabled {
    /*cursor: $cursor-disabled;*/
    opacity: .65;
}

input[type=submit]:disabled:hover {
    background-color: $primary;
    border-color: $primary;
}

input[type=submit].btn-secondary:disabled:hover {
    background-color: $gray-700;
    border-color: $gray-700;
}

.buttons {
    text-align: center;
}

.backlink {
    text-align: center;
}

.availability-button {
    text-align: center;
}

#gradetreesubmit {
    text-align: center;
}


/**
 * Styling the dropdown menus.
 */
.dropdown-menu {
    font-size: 14px;
    border-radius: 0;
    .dropdown-item:first-of-type {
        padding-top: 8px;
        &:last-child {
            border-bottom: 0;
        }
    }
    .dropdown-item {
        color: #494949;
        &:hover {
            color: #696969;
        }
    }
    a.icon {
        vertical-align: baseline;
    }
}

/**
 * User picture.
 */
.userpicture {
    border-radius: 50%;
}

/**
 * For background in content areas.
 */
#page.container-fluid {
    padding: 0 (2 * $spacer) 0 (1.5 * $spacer);
}

body.drawer-open-right #page.container-fluid {
    padding-right: (1.5 * $spacer);
}

#block-region-side-pre {
    padding-left: 0;
}

/**
 * Dashboard styling.
 */
#page-my-index {
    #region-main {
        background-color: transparent;
        border: 0;
        padding: 0;
    }
    .nav-pills {
        .nav-item {
            background-color: $gray-200;
            .active {
                background-color: $primary;
            }
        }



    }
    .block-myoverview .pagination {
        justify-content: center;
    }
}



/**
 * Form styles.
 */

.form-group {
    margin-top: ($spacer/2);
}

.form-inline .form-group {
    margin-top: 0;
}

/**
  * Theme widgets.
  */
body {
    // Edition mode toggle.
    .switch {
        span:after {
            color: $red;
            content: "OFF";
            padding-left: .5rem;
        }
        i {
            color: $red;
            padding-top: .3rem;
        }
    }
    // Toggle blocks
    #page-content > a {
        position: fixed;
        right: 10px;
        padding-top: 1rem;
    }
    &.editing {
        // Edition mode toggle.
        .switch {
            span:after {
                color: $success;
                content: "ON";
            }
            i {
                color: $success;
            }
        }
        // Toggle blocks
        #page-content > a {
            padding-top: 3rem;
        }
    }
    .popover-region.nav-link.editswitch,
    .popover-region.nav-link.call911 {
        /*margin-right: 1.5rem;*/
        .fa {
            font-size: larger;
        }
        a:hover {
            text-decoration: none;
        }
    }
}

// Back to top button.
#back-to-top {
    position: fixed;
    bottom: 32px;
    right: 40px;
    text-align: center;
    cursor: pointer;
    opacity: .5;
    filter:alpha(opacity=50);
    display:none;
    z-index:1000;
    a {
        text-decoration: none;
        border: 0;
        outline: none;
        &.arrow {
            padding: 5px 10px;
            font-size: 36px;
            color: #333;
            background: #EEE;
            border: 1px solid #CCC;
            border-bottom: 1px solid #AAA;
            border-radius: 5px;
        }
        &.text {
            display: block;
            background: white;
            visibility: hidden;
            position: relative;
            top: 10px;
        }
    }
}

@media only screen  and (min-width : 768px) {
    .navbar-nav .nav-link.editswitch {
        padding-top: .525rem;
    }
    .navbar-nav .nav-link.call911 {
        padding-top: .6rem;
    }
}
@media only screen  and (max-width : 767px) {
    .navbar-nav .nav-link.call911 {
        padding-top: .6rem;
    }
}

@media only screen  and (max-width : 767px) {
    .switch:after {
        display: none;
    }
}

.usertour {
    @extend .container;
    @extend .text-center;
}

.fitem .initialism i {
    vertical-align: text-bottom;
}

abbr[title] {
    border: none;
    text-decoration: none;
}

.moodlelogofooter {
    margin-bottom:.625rem;
    width:75px;
    height:20px
}

//restored variables from moodle 34
$input-bg-disabled:              $gray-500 !default;
$input-disabled-bg:              $gray-500 !default;

.in-drawer .redball-count {
    border-radius: 50%;
    background-color: crimson;
    color: white;
    width: 1.1rem;
    height: 1.1rem;
    font-size: .625rem;
    padding: 1px 0 0 5px;
}

legend {
    font-size: 1.3rem;
}

input[type=submit] {
    font-size: .875rem;
}