/* stylelint-disable color-hex-length */
/**
 * Default preset file.
 *
 * Use this space to customise variables, create mixins and override SCSS.
 */

// Colors
$white:                     #fff !default;
$red:                       #d9534f !default;

$gray-dark:                 #494949 !default;
$gray:                      #696969 !default;
$gray-light:                #898989 !default;
$gray-lighter:              #c9c9c9 !default;
$gray-lightest:             #f1f1f1 !default;

$brand-primary:             #1a9e9f !default;
$brand-success:             #55ab26 !default;
$brand-warning:             #ff8800 !default;
$brand-danger:              #ff4136 !default;
$brand-inverse:             $gray-dark !default;
$navbar-height:             50px !default;

// Spacing
$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$border-width: 1px !default;

// Body
$body-bg:    #f4f4f4 !default;
$body-color: #3a3a3a !default;

// Links
$link-color: $brand-primary !default;
$link-hover-color: $brand-success !default;

// Typography
//$font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, sans-serif !default;
$font-family-sans-serif: "Roboto", "Open Sans", sans-serif !default;
$font-size-root: 14px !default;

$headings-font-family: "Roboto Condensed", "Roboto", "Open Sans", sans-serif !default;

// Tables
$table-bg:                      transparent !default;
$table-bg-accent:               #fafafa !default;
$table-bg-hover:                $gray-lighter;
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            $gray-lightest !default;

// Dropdowns
$dropdown-border-color:          #e2e2e2 !default;
$dropdown-link-color:            rgba(0, 0, 0, .535) !default;

// Navbar
$navbar-light-color:                rgba(0, 0, 0, .535) !default;
$navbar-light-hover-color:          $brand-primary !default;
$navbar-light-active-color:         $brand-primary !default;

// Cards
$card-border-radius:       0 !default;
$card-border-color:        $gray-lightest !default;

// Breadcrumbs
$breadcrumb-bg:                 transparent !default;
$breadcrumb-padding-x:          0 !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

// Blocks
$blocks-column-width : 260px !default;

// Import everything.
@import "moodle";

/**
 * Brand banner and logos.
 */

.brand-banner {
    background: linear-gradient(to bottom, $gray-lightest 0%, $gray-lightest 30%,darken($link-hover-color,5%) 31%,$link-hover-color 95%);
    height: 80px;

    img {
        height: 55px;
    }

    .left-logo {
        position: absolute;
        top: 10px;
        left: 15px;
        height: 55px;
        box-shadow: 4px 4px 15px $gray;
    }

    .right-logo {
        position: absolute;
        top: 10px;
        right: 15px;
        height: 55px;
        box-shadow: 4px 4px 15px $gray;
    }
}

/**
 * Navigation bar identity.
 */
.navbar-receptic {
    background-color: $white;
    background-image: linear-gradient(to bottom, $gray 0%, $gray-dark 100%);

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-brand {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-right: $spacer * 2;
        color: transparent;
        background-color: transparent;
    }
    a {
        color: $white;
        @include hover-focus {
            color: $gray-lighter;
        }
        &.dropdown-item {
            color: $gray-dark;
            @include hover-focus {
                color: $gray;
            }
        }
    }

    .dropdown-item a {
        color: $gray-dark;
        &:hover, &:focus {
            color: $gray;
        }
        .icon:before {
            color: $gray-dark;
            &:hover, &:hover {
                color: $gray;
            }
        }
    }

    .navbar-nav {
        .nav-item + .nav-item {
            margin-left: $spacer * 2;
        }
        .nav-link {
            font-size: $font-size-root;
            text-transform: inherit;
            letter-spacing: normal;
            color: $white;
            @include hover-focus {
                color: $gray-lighter;
            }
            .fa {
                padding-right: 3px;
            }
        }
        [data-region="drawer-toggle"] {
            .btn-secondary {
                color: $white;
                background-color: $gray-dark;
                border-color: $gray-light;
                @include hover-focus {
                    color: $gray-lighter;
                }
            }
        }
    }

    .navbar-divider {
         background-color: rgba(255,255,255,.075);
    }

    .extra-buttons {
        margin-top: .5rem;
        margin-left: 2rem;
        margin-right: 1rem;
        a {
            margin-right: 1rem;
        }
    }
}

/**
 * Default color for link icons.
 */
a .icon {
    color: $gray-dark;
}

/**
 * Styling the dropdown menus.
 */
.dropdown-menu {
    font-size: 14px;
    border-radius: 0;
    .dropdown-item:first-of-type {
        padding-top: 8px;
        &:last-child {
            border-bottom: 0;
        }
    }
}

/**
 * User picture.
 */
.userpicture {
    border-radius: 50%;
}

/**
 * For background in content areas.
 */
#page.container-fluid {
    padding: 0 (2 * $spacer);
}

#block-region-side-pre {
    padding-left: 0;
}

/**
 * Dashboard styling.
 */
#page-my-index {
    #region-main {
        background-color: transparent;
        border: 0;
        padding: 0;
    }
}

/**
 * Blocks.
 */
.block-region .block {
    border-style: solid;
    border-width: 0 0 0 6px;
    border-color: $gray;

    .card-block {
        box-shadow: 1px 2px 3px 0 $gray-lighter;
        padding: 1rem .5rem;

        .block-control-actions {
            padding-right: 0.5rem;
        }
        .card-title {
            border-bottom: 1px solid $gray-lighter;
            color: $brand-success;
            font-size: 1.3rem;
            text-transform: none;
            font-weight: 500;
            padding-bottom: ($spacer/2);
            padding-left: .5rem;
        }
        .card-title:before {
            font-family: FontAwesome;
            font-size: 1rem;
            color: $gray;
            margin-right: 0.5rem;
            text-align: center;
            float: left;
            padding-top: .2rem;
        }
        h3:before {
            font-family: FontAwesome;
        }
        .content {
            padding: 4px 1rem;
            h3:before {
                content: "";
            }
        }
    }
    &.block_course_overview {
        border: none;
        .card-block {
            box-shadow: none;
        }
        h3:before {
            content: "\f19d";
        }
    }
    &.block_calendar_month h3:before,
    &.block_calendar_upcoming h3:before {
        content: "\f073";
    }

    &.block_recent_activity h3:before {
        content: "\f017";
    }

    &.block_settings h3:before {
        content: "\f085";
    }

    &.block_glossary_random h3:before {
        content: "\f15d";
    }

    &.block_login h3:before {
        content: "\f090";
    }

    &.block_news_items h3:before {
        content: "\f0a1";
    }

    &.block_private_files h3:before {
        content: "\f07b";
    }

    &.block_admin_bookmarks h3:before {
        content: "\f02e";
    }

    &.block_messages h3:before {
        content: "\f0e0";
    }

    &.block_navigation h3:before {
        content: "\f0e8";
    }

    &.block_participants h3:before {
        content: "\f0c0";
    }

    &.block_search_forums h3:before {
        content: "\f0e6";
    }

    &.block_activity_results h3:before {
        content: "\f080";
    }

    &.block_online_users h3:before {
        content: "\f1eb";
    }

    &.block_course_overview h3:before {
        content: "\f19d";
    }

    &.block_mycobraglossary h3:before {
        content: "\f15d";
    }

    &.block_theme_selector h3:before {
        content: "\f1fc";
    }
    .minicalendarblock {
        caption {
            padding-bottom: 0;
            padding-top: 1.5rem;
        }
    }

    .minicalendar, .minicalendarblock .minicalendar.calendartable {
        td {
            border: 1px solid $gray-lighter;
        }
        .content {
            padding: 4px 0.5rem;
        }
        th > abbr[title]{
            border-bottom: 1px solid $gray-lighter;
        }
        td:nth-child(even) {
            background-color: $gray-lightest;
        }
        td.today {
            background-color: $gray-dark;
            color: $white;
            a {
                color: $white;
                font-weight: bold;
            }
            .calendar-event-panel {
                color: $gray-dark;
            }
        }
    }
    .calendar-event-panel {
        background-color: $gray-lightest;
        border: 1px solid $gray-lighter;
        .yui3-overlay-content {
            margin-bottom: 0;
        }
    }
}

/**
 * Navigation.
 */
.block_navigation,
.block_settings {
    .block_tree .tree_item {
        margin: ($spacer/2) 0;
    }
}

/**
 * Form styles.
 */

.form-group {
    margin-top: ($spacer/2);
}

.form-inline .form-group {
    margin-top: 0;
}

/**
  * Theme widgets.
  */
body {
    // Edition mode toggle.
    switch:after {
        color: $red;
        content: "OFF";
    }
    // Toggle blocks
    #page-content > a {
        position: fixed;
        right: 5px;
        padding-top: 1rem;
    }
    &.editing {
        .switch:after {
            color: $brand-success;
            content: "ON";
        }
        #page-content > a {
            padding-top: 3rem;
        }
    }
}


