/* stylelint-disable color-hex-length */
/**
 * Default preset file.
 *
 * Use this space to customise variables, create mixins and override SCSS.
 */

// Colors
$white:                     #fff !default;
$red:                       #d9534f !default;

$gray-dark:                 #494949 !default;
$gray:                      #696969 !default;
$gray-light:                #898989 !default;
$gray-lighter:              #c9c9c9 !default;
$gray-lightest:             #f1f1f1 !default;

$brand-primary:             #1a9e9f !default;
$brand-success:             #55ab26 !default;
$brand-warning:             #ff8800 !default;
$brand-danger:              #ff4136 !default;
$brand-inverse:             $gray-dark !default;
$navbar-height:             50px !default;

// Spacing
$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$border-width: 1px !default;

// Body
$body-bg:    #f4f4f4 !default;
$body-color: #3a3a3a !default;

// Links
$link-color: $brand-primary !default;
$link-hover-color: $brand-success !default;

// Typography
//$font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, sans-serif !default;
$font-family-sans-serif: "Roboto", "Open Sans", sans-serif !default;
$font-size-root: 14px !default;

$headings-font-family: "Roboto Condensed", "Roboto", "Open Sans", sans-serif !default;

// Tables
$table-bg:                      transparent !default;
$table-bg-accent:               #fafafa !default;
$table-bg-hover:                $gray-lighter;
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            $gray-lightest !default;

// Dropdowns
$dropdown-border-color:          #e2e2e2 !default;
$dropdown-link-color:            rgba(0, 0, 0, .535) !default;

// Navbar
$navbar-light-color:                rgba(0, 0, 0, .535) !default;
$navbar-light-hover-color:          $brand-primary !default;
$navbar-light-active-color:         $brand-primary !default;

// Cards
$card-border-radius:       0 !default;
$card-border-color:        $gray-lightest !default;

// Breadcrumbs
$breadcrumb-bg:                 transparent !default;
$breadcrumb-padding-x:          0 !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

// Blocks
$blocks-column-width : 260px !default;

// Import everything.
@import "main";

/**
 * Brand banner and logos.
 */

.brand-banner {
    background: linear-gradient(to bottom, $gray-lightest 0%, $gray-lightest 30%,darken($link-hover-color,5%) 31%,$link-hover-color 95%);
    height: 80px;

    img {
        height: 55px;
    }

    .left-logo {
        position: absolute;
        top: 10px;
        left: 15px;
        height: 55px;
        box-shadow: 4px 4px 15px $gray;
    }

    .right-logo {
        position: absolute;
        top: 10px;
        right: 15px;
        height: 55px;
        box-shadow: 4px 4px 15px $gray;
    }
}

/**
 * Position banners, page and drawer according to screen size (brand banner for large displays).
 */
@media (min-width: 768px) {
    .pos-f-t-lower {
        top: 80px;
    }
}

@media (min-width: 768px) {
    #page {
        margin-top: 129px;
    }
}

@media (min-width: 768px) {
    [data-region="drawer"] {
        top: 129px;
        height: calc(100% - 129px);
    }
}

/**
 * Navigation bar identity.
 */
.navbar-receptic {
    background-color: $white;
    background-image: linear-gradient(to bottom, $gray 0%, $gray-dark 100%);

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    a {
        color: $white;
        @include hover-focus {
            color: $gray-lighter;
        }
        &.dropdown-item {
            color: $gray-dark;
            @include hover-focus {
                color: $gray;
            }
        }
    }
    .dropdown a:first-of-type > .icon {
        margin-left: 0;
    }

    .dropdown-item a {
        color: $gray-dark;
        &:hover, &:focus {
            color: $gray;
        }
        .icon:before {
            color: $gray-dark;
            &:hover, &:focus {
                color: $gray;
            }
        }
    }

    .navbar-nav {
        .nav-item + .nav-item {
            margin-left: $spacer * 2;
        }
        .nav-link {
            font-size: $font-size-root;
            text-transform: inherit;
            letter-spacing: normal;
            color: $white;
            @include hover-focus {
                color: $gray-lighter;
            }
        }
        [data-region="drawer-toggle"] {
            .btn-secondary {
                color: $white;
                background-color: $gray-dark;
                border-color: $gray-light;
                @include hover-focus {
                    color: $gray-lighter;
                }
            }
        }
    }

    .navbar-divider {
         background-color: rgba(255,255,255,.075);
    }

    .extra-buttons {
        margin-top: .5rem;
        margin-left: 2rem;
        margin-right: 1rem;
        a {
            margin-right: 1rem;
        }
    }
    .popover-region {
        &.navlink a:hover,
        &.navlink a:focus {
            text-decoration: none;
        }
    }
}

/**
 * Default color for link icons and action icons.
 */
a .icon,
span .icon {
    color: $gray;
}

/**
 * Styling the dropdown menus.
 */
.dropdown-menu {
    font-size: 14px;
    border-radius: 0;
    .dropdown-item:first-of-type {
        padding-top: 8px;
        &:last-child {
            border-bottom: 0;
        }
    }
    a.icon {
        vertical-align: baseline;
    }
}

/**
 * User picture.
 */
.userpicture {
    border-radius: 50%;
}

/**
 * For background in content areas.
 */
#page.container-fluid {
    padding: 0 (2 * $spacer);
}

#block-region-side-pre {
    padding-left: 0;
}

/**
 * Dashboard styling.
 */
#page-my-index {
    #region-main {
        background-color: transparent;
        border: 0;
        padding: 0;
    }
}

/**
 * Form styles.
 */

.form-group {
    margin-top: ($spacer/2);
}

.form-inline .form-group {
    margin-top: 0;
}

/**
  * Theme widgets.
  */
body {
    // Edition mode toggle.
    .switch:after {
        color: $red;
        content: "OFF";
    }
    // Toggle blocks
    #page-content > a {
        position: fixed;
        right: 5px;
        padding-top: 1rem;
    }
    &.editing {
        // Edition mode toggle.
        .switch:after {
            color: $brand-success;
            content: "ON";
        }
        // Toggle blocks
        #page-content > a {
            padding-top: 3rem;
        }
    }
    .popover-region.nav-link.editswitch,
    .popover-region.nav-link.call911 {
        margin-right: 1.5rem;
        .fa {
            font-size: larger;
        }
    }
}

// Back to top button.
#back-to-top {
    position: fixed;
    bottom: 32px;
    right: 40px;
    text-align: center;
    cursor: pointer;
    opacity: .5;
    filter:alpha(opacity=50);
    display:none;
    a {
        text-decoration: none;
        border: 0;
        outline: none;
        &.arrow {
            padding: 5px 10px;
            font-size: 36px;
            color: #333;
            background: #EEE;
            border: 1px solid #CCC;
            border-bottom: 1px solid #AAA;
            border-radius: 5px;
        }
        &.text {
            display: block;
            background: white;
            visibility: hidden;
            position: relative;
            top: 10px;
        }
    }
}

